@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

$large-screen: 3840px;
// * {
//   cursor: none;
//   @media (max-width: 768px) {
//     font-size: 1em;
//     cursor: default;
//   }
// }

.cursor {
  display: flex;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  background-color: rgb(255, 255, 255);
}

body {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.368);
  font-family: "DotGothic16", sans-serif;
  margin: 0 auto;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(12, 12, 12) 100%);
  @media (min-width: 1024px) {
    // font-size: 1.6em;
  }
  max-width: 100%;
  min-width: 370px;
}
.app-container {
  box-sizing: border-box;

  // background-color: rgb(8, 10, 19);
  // font-size: 1.2em;
  // @media (max-width: 414px) {
  //   font-size: 1em;
  // }
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: max-content;
  max-width: 1440px; // Set the maximum width to 1920 pixels for screens up to 1920 pixels wide
}

#stars-pic {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -999999999;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background: linear-gradient(
    180deg,
    rgba(18, 16, 21, 0) 0%,
    rgb(19, 17, 23) 100%
  );
}

// Particles Video
#particles-video {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  object-fit: cover;
  // margin-left: -10%;
  // margin-right: -10%;
  // overflow: hidden;
}
#particles-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 200%;
  height: 200%;
  // background-size: contain;
  object-position: center;
  // overflow: clip;
}
#code-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -4;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // margin-left: -10%;
  // margin-right: -10%;
  // overflow: hidden;
}

#parallax-overlay {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 0;
  opacity: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  // width: 1920px;
  // max-width: 1920px;
  top: 0;
  left: auto;
  right: auto;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 17, 0.698) 0%,
    rgba(36, 32, 66, 0.916) 100%
  );
}

// * NavBar
.nav-bar {
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    hsl(223, 7%, 19%) 0%,
    hsl(256, 13%, 17%) 8%,
    hsl(0, 0%, 11%) 92%,
    hsl(224, 39%, 19%) 100%
  );
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  min-width: 370px;
  // max-width: 1920px;
}
.nav-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 16px; /* Add padding to the right side for spacing */
}
// Day & Night Toggle
.day-night-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links inside the navbar */
.nav-bar a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  background: #ddd;
  color: black;
  // cursor: pointer;
}

.content-container {
  width: 100%;
  height: 100%;
}
img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// Background Photo
.bg-img {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  // background: linear-gradient(
  //   180deg,
  //   #1617219f 0%,
  //   rgba(20, 20, 30, 0.842) 100%
  // );
  opacity: 1;
  z-index: -5;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}
.bg-code {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -3;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  object-fit: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  opacity: 0.04;
}
// * Navigation Menu
.nav-menu {
  .nav-menu-container {
    // background-color: rgba(24, 24, 33, 0.507);
    margin: auto;
    width: 100%;
    height: fit-content;
  }
  // background-color: grey;
  z-index: 0;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    text-align: left;
    text-decoration: none;
    padding: 5px;
    // font-size: 1.5em;
  }
  a {
    color: inherit;
    text-decoration: none;
    // cursor: pointer;
  }
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
  min-width: 370px;
  min-height: 1080px;
  height: 100vh;
  max-width: 100%;
  margin: auto;

  // Full Name
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-family: "Courier Prime", monospace;
    z-index: 0;
    text-align: left;
    position: relative;
    // height: 400px;
    width: 100%;
    // max-width: 1920px;
    @media (max-height: 896px) {
      // height: 270px;
    }

    // Title Name
    .name {
      @media (max-height: 896px) {
        // padding-top: 20px;
      }
    }
    h1 {
      color: rgb(255, 255, 255);
      padding: 0px;
      margin-left: 30px;
      font-size: 3em;
      @media (max-width: 598px) {
        // font-size: 2em;
      }
      @media (max-height: 896px) {
        // font-size: 2em;
      }
      text-shadow: rgba(0, 0, 0, 0.613) 2px 10px 0px;
    }
    // Occupation Name
    .occupation-container {
      // Occupation Title
      .title {
        font-size: 1.3em;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.613) 2px 4px 0px;
        &.sect1 {
          display: flex;
          align-items: center;
          #cog-img {
            object-fit: contain;
            height: 30px;
            width: 30px;
            padding: 5px;
          }
          #code-pixel-img {
            object-fit: contain;
            height: 30px;
            width: 30px;
            padding: 5px;
          }
        }
        &.sect2 {
          display: flex;
          align-items: center;
          #music-note-img {
            object-fit: contain;
            height: 30px;
            width: 30px;
            padding: 5px;
          }
        }
      }
      #front-end {
        color: rgb(181, 254, 117);
      }
      #amper {
        color: rgb(60, 173, 243);
      }
      #artist {
        color: rgb(117, 254, 222);
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      width: 100%;
      height: 100px;
      @media (max-height: 896px) {
        // top: 200px;
      }
      @media (max-width: 896px) {
        font-size: 1em;
        .icon {
          height: 100px;
        }
      }
    }
  }
  .nav-selections {
    li {
      font-size: 2.5rem;
      &:hover {
        color: rgb(244, 236, 117);
        transition: color 0.3s ease;
      }
    }
    margin-left: 20px;
    text-align: left;
  }
  .nav-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 500px;
    .nav-selections-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 100%;
    }
    .nav-background {
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    display: flex;
    text-align: center;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  // background-color: grey;
  // .social {
  //   height: 50px;
  //   width: 50px;
  // }
  .social-svg {
    &:hover {
      background-color: rgba(67, 58, 99, 0.437);
      transition: background-color 0.3s ease;
    }
  }
}
.title-divider {
  margin: auto;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 1px;
}
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
// Home Page
.home-page-container {
  box-sizing: border-box;
  // border: 1px solid rgb(30, 29, 29);
  height: 100vh;
  min-height: 1000px;
  position: relative;
  // background-color: rgba(7, 7, 7, 0.8);
}
// About Page
#about-section {
  z-index: 999;
  box-sizing: border-box;
  position: relative;
  height: fit-content;
  // background: linear-gradient(180deg, rgb(22, 22, 23) 70%, rgb(0, 0, 0) 100%);
  // border: solid rgb(36, 36, 38);
  // animation: mymove 5s infinite;
  // -webkit-transition: border 500ms ease-out;
  // -moz-transition: border 500ms ease-out;
  // -o-transition: border 500ms ease-out;
  // transition: border 500ms ease-out;
  // border-width: 0 1px 0 1px;
}

@keyframes mymove {
  50% {
    border-color: rgb(12, 11, 13);
  }
}

#city-pic-overlay {
  z-index: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  // width: 1920px;
  // max-width: 1920px;
  left: 0;
  height: 100%;
  width: 100%;
  // background: linear-gradient(
  //   180deg,
  //   rgb(18, 16, 21) 0%,
  //   rgba(19, 17, 23, 0.916) 100%
  // );
}

#space-pic {
  z-index: -999999999;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // width: 200vw;
  // height: auto;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

#background-pic {
  z-index: 0;
  opacity: 0.5;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  // max-width: 1920px;
  height: 100%;
}

#code-pic {
  z-index: 0;
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 100%;
  // max-width: 1920px;
  height: 100%;
}
#code-pic-overlay {
  opacity: 0;
  z-index: 0;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 27, 0.763) 0%,
    rgba(2, 1, 4, 0.916) 100%
  );
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-position: center;
  width: 100%;
  // max-width: 1920px;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
}

.barcode-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px auto 15px auto;
  // box-shadow: 0px 5px 4px rgba(186, 252, 188, 0.471);
  background-color: rgba(133, 133, 133, 0.574);
  path {
    fill: rgba(0, 0, 0, 0.464);
    width: 100%;
  }
}

.about-page-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: max-content;
  min-height: 100vh;
  // width: 65%;
  width: 100%;
  // max-width: 1300px;
  border-radius: 5px;
  // max-width: 1200px;
  @media (max-width: 800px) {
    width: 100%;
  }
  color: rgb(255, 255, 255);
  // background: linear-gradient(
  //   180deg,
  //   rgba(12, 11, 15, 0) 0%,
  //   rgba(34, 20, 80, 0.192) 100%
  // );
  h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
  }
  h2 {
    margin-bottom: 5px;
    text-align: center;
  }
  p {
    padding: 50px;
  }
  a {
    padding: 5px;
    // font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: rgb(0, 98, 255);
    &:hover {
      color: rgb(243, 255, 136);
    }
  }
  .about-me-section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    .about-icons-column {
      display: flex;
      position: relative;
      text-align: center;
      flex: 50%;
      width: 300px;
      height: 200px;
      min-width: 250px;
      max-width: 100%;
      min-height: 200px;
      margin: auto;
      .laptop-icon-container {
        // background: linear-gradient(
        //   180deg,
        //   rgb(22, 26, 59) 0%,
        //   rgb(4, 4, 4) 100%
        // );
        // background-color: black;
        display: flex;
        position: relative;
        margin: auto;
        justify-content: center;
        width: 100%;
        height: 100%;
        #matrix-bg {
          opacity: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        #container-text {
          z-index: 5;
          display: flex;
          width: 90%;
          height: 100%;
          position: absolute;
          font-size: 1em;
          box-sizing: border-box;
          border-radius: 20px;
          padding: 1rem;
          align-items: center;
          justify-content: center;
          background-color: #16172188;
          @media (max-width: 562px) {
            font-size: 0.7em;
          }
          span {
            box-sizing: border-box;
            background-color: #0b0c1199;
            border-radius: 20px;
            text-align: center;
            margin-bottom: auto;
            bottom: 0;
            z-index: 4;
          }
          #text1 {
            color: rgb(100, 216, 255);
          }
          #text2 {
            color: rgb(250, 83, 83);
          }
          #text3 {
            color: rgb(175, 57, 180);
          }
          #braces {
            color: rgb(75, 190, 244);
          }
          #return {
            color: rgb(244, 75, 114);
          }
          #dotlog {
            color: rgb(246, 254, 96);
          }
          #text4 {
            color: rgb(189, 123, 255);
          }
          #pleased {
            color: rgb(190, 255, 111);
          }
          #macbook-img {
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            position: absolute;
            height: 160px;
            width: 200px;
            object-fit: contain;
          }
        }
      }
    }
    .about-description-column {
      box-sizing: border-box;
      font-size: 1em;
      text-align: left;
      // flex: 60%;
      ul {
        margin: auto;
        padding: 0px;
        max-width: 900px;
        width: 90%;
      }
      li {
        // margin-left: 15px;
        max-width: 100%;
        padding: 10px;
        list-style: none;
      }
      .about-description-list {
        #hello-emote-container {
          box-sizing: border-box;
          padding: 1rem;
          display: flex;
          flex-direction: row;
        }
        .img {
          box-sizing: border-box;
          // margin-left: 20px;
          height: 70px;
          width: 70px;
          object-fit: contain;
          @media (max-width: 562px) {
            height: 70px;
            width: 70px;
          }
        }
      }
    }
    .rokit-span {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 0.8em;
    }
    .rokit-container {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 2rem;
      max-height: 100px;
      display: flex;
      justify-content: center;
      background-color: rgb(65, 120, 223);
      background: linear-gradient(
        180deg,
        rgba(70, 79, 182, 0.286) 0%,
        rgba(86, 111, 212, 0.244) 50%,
        rgba(115, 94, 232, 0.26) 100%
      );
      width: 90%;
      margin: auto;
      align-items: center;
      img {
        height: 100px;
        width: 100px;
      }
      @media (max-width: 1024px) {
        img {
          height: 80px;
          width: 80px;
        }
      }
      @media (max-width: 562px) {
        img {
          height: 50px;
          width: 50px;
        }
      }
      #rode-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #rokit-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #volt-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #akai-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #sg-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #dt990-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
    }
  }
  // For language rotating card
  .no-pointer-events {
    pointer-events: none;
  }

  .languages-section {
    #gear-img {
      opacity: 0.9;
      position: absolute;
      object-fit: contain;
      z-index: -1;
      width: 90%;
      max-width: 400px;
      min-width: 100px;
      height: 650px;
      min-height: 650px;
      max-height: 650px;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
    }
    margin-bottom: 200px;
  }
  // languages icons
  .language-container {
    z-index: 9999999;
    // font-family: "Courier New", Courier, monospace;
    // font-size: 1em;
    box-sizing: border-box;
    max-width: 1000px;
    // min-width: 200px;
    width: 100%;
    padding: 1rem 2rem;
    margin: auto;
    padding: 50px 10px 50px 10px;
    display: flex;
    span {
      padding: 5px;
    }
    @media (max-width: 562px) {
      font-size: 0.8em;
      pointer-events: none;
    }
    // Skills
    .fed-languages-list {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 2rem;
      border: 1px solid rgba(158, 156, 199, 0.686);
      // border-image-source: linear-gradient(to left, #3a56d5, #4d4aa8);
      // background: rgb(41, 47, 40);
      background: radial-gradient(
        circle,
        rgba(23, 25, 34, 0.523) 0%,
        rgba(10, 8, 13, 0.76) 98%,
        rgba(0, 0, 0, 0.875) 100%
      );
      color: #eee;
      text-shadow: 0 1px 0 #999;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      li {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
        flex: 20%;
        overflow: hidden;
      }
      span {
        font-size: 0.8em;
        text-align: center;
      }
    }
    .bed-languages-list {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 2rem;
      border: 1px solid rgba(158, 156, 199, 0.686);
      // border-image-source: linear-gradient(to left, #3a56d5, #4d4aa8);
      // background: rgb(41, 47, 40);
      background: radial-gradient(
        circle,
        rgba(23, 25, 34, 0.523) 0%,
        rgba(10, 8, 13, 0.349) 98%,
        rgba(0, 0, 0, 0.875) 100%
      );
      color: #eee;
      text-shadow: 0 1px 0 #999;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      li {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
        flex: 50%;
        overflow: hidden;
      }
      span {
        font-size: 0.8em;
        text-align: center;
        color: rgb(255, 255, 255);
      }
    }
  }
  .font-awesome-icon {
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    padding: 10px;
    @media (max-width: 562px) {
      height: 30px;
      width: 30px;
    }
  }
}
// Modal
.modal-container {
  box-sizing: border-box;
  // font-family: "Courier Prime", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .dialog-box {
    display: flex;
    flex-direction: column;
    z-index: 1001;
    background: linear-gradient(
      180deg,
      rgb(18, 21, 26) 0%,
      rgba(16, 16, 24, 0.967) 100%
    );
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 10px rgba(29, 59, 78, 0.071);
    height: max-content;
    // min-height: 600px;
    max-height: 100%;
    width: 80vw;
    min-width: 200px;
    max-width: 1000px;
    padding: 2em;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: none;
    position: absolute;
    @media (max-width: 600px) {
      top: 60%;
      width: 95vw;
      height: max-content;
      font-size: 0.75em;
      overflow: scroll;
    }
    .close-button {
      margin-left: auto;
      margin-top: auto;
      min-width: 50px;
      min-height: 30px;
      width: 50px;
      height: 30px;
      color: rgb(255, 255, 255);
      &:hover {
        color: rgb(78, 229, 131);
        // cursor: pointer;
      }
    }
    .content {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .image-container {
        display: flex;
        align-items: center;
        color: black;
        flex: 40%;
        padding: 0;
        min-width: 200px;
        .image {
          border-radius: 20px;
          box-sizing: border-box;
          display: inherit;
          margin: auto;
          padding: 0px;
          height: 80%;
          width: 90%;
          object-fit: cover;
          object-position: top;
          box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
          &.bstock {
            object-position: top left;
          }
          @media (max-width: 504px) {
            max-height: 150px;
          }
        }
      }
      .description-container {
        box-sizing: border-box;
        padding: 10px;
        color: rgb(239, 240, 255);
        flex: 60%;
        width: 100%;
        // Title
        h1 {
          font-size: 1.2em;
          text-align: center;
          padding: 3px;
          color: rgb(254, 254, 254);
          text-shadow: 0px 8px 4px rgba(2, 2, 2, 0.459);
        }
        .stack-container {
          box-sizing: border-box;
          font-size: 1em;
          display: flex;
          text-align: left;
          flex-direction: column;
          .title {
            text-align: center;
            color: rgb(204, 205, 255);
            padding: 10px 20px 5px 20px;
          }
          .stack {
            box-sizing: border-box;
            padding: 10px 10px 20px 10px;
            display: flex;
            margin: auto;
            color: rgb(255, 255, 255);
            .icon {
              width: 35px;
              height: 35px;
              padding: 4px;
              @media (max-width: 504px) {
                width: 20px;
                height: 20px;
              }
            }
            .fed {
              border-radius: 10px 0 0 10px;
              box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              padding: 8px;
              background-color: #5a6ad3;
            }
            .bed {
              border-radius: 0 10px 10px 0;
              box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              padding: 8px;
              background-color: rgb(81, 65, 205);
            }
          }
          .hover-icon-box {
            width: 90%;
            height: 20px;
            margin: auto;
            // z-index: 9999;
            .icon-text {
              text-align: center;
              display: block;
              margin: auto;
              position: relative;
              background-color: rgb(9, 8, 12);
              color: white;
              padding: 4px 8px;
              border-radius: 4px;
              opacity: 0;
              pointer-events: none;
              transition: opacity 0.3s ease-in-out;
            }
            &:hover .icon-text {
              opacity: 1;
            }
          }
        }
        p {
          font-size: 1em;
          text-align: left;
          padding: 8px 10px 20px 20px;
        }
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: lightblue;
        }
      }
    }
  }
}
// Header Container
.header-title {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  // -webkit-text-stroke: 0.1px #969ecb;
  text-shadow: rgba(255, 204, 0, 0.098) 1px 0 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  span {
    margin-top: 20px;
  }
  .container {
    .title {
      margin-bottom: auto;
      text-align: center;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.disclaimer {
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: rgb(84, 212, 255);
  }
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// My Work Page
#cyber-video {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0.07;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // margin-left: -10%;
  // margin-right: -10%;
  // overflow: hidden;
}

.mywork-page-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  color: rgb(255, 255, 255);

  #vhs-img {
    opacity: 0;
    display: flex;
    position: absolute;
    object-fit: cover;
    z-index: -9999;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: auto;
  }
  h3 {
    padding: 0;
    font-size: 0.5em;
    text-align: center;
  }
  // Description
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  // PROJECT ROW
  .row {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // PROJECT COLUMN
  .project-thumbnail {
    position: relative;

    .middle {
      position: relative;

      &:hover .view-text-container {
        opacity: 1;
      }
    }

    .view-text-container {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 10px;
      background-color: black;
      opacity: 0;
      transition: opacity 0.3s ease;
      color: white;
    }

    .cursor-text {
      position: fixed;
      pointer-events: none;
      z-index: 9999;
    }
  }

  .project-column {
    border-radius: 20px;
    padding: 0;
    // cursor: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    max-width: 500px;
    height: 300px;
    margin: auto;
    // max-height: 600px;
    // margin-bottom: 3px;
    position: relative;
    border: 1px solid rgb(18, 28, 57);
  }

  #tv-img {
    position: absolute;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    width: 100%;
    transition: 0.1s ease;
    backface-visibility: hidden;
    display: flex;
    margin: auto;
    top: 0;
  }

  .container .image {
    border-radius: 20px;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    // &:hover {
    //   box-sizing: border-box;
    //   border: 10px solid rgb(145, 180, 255);
    //   box-shadow: 0px 0px 40px 5px rgba(76, 68, 169, 0.983);
    // }
    width: 100%;
    transition: 0.1s ease;
    backface-visibility: hidden;
    @media (max-width: 1440px) {
      // height: 400px;
    }
    @media (max-width: 660px) {
      // height: 230px;
    }
    // box-shadow: 0px 0px 28px 8px rgba(30, 69, 26, 0.134);
  }
  .middle {
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 5;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    @media (max-width: 1440px) {
      // height: 400px;
    }
    @media (max-width: 660px) {
      // height: 230px;
    }
    &:hover {
      #tv-img {
        border-radius: 20px;
        z-index: 3;
        opacity: 0.6;
      }
      #project-img {
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 1;
        border-radius: 20px;
      }

      // border: 10px solid rgb(174, 255, 189);
      box-shadow: 0px 0px 0px 5px rgba(56, 249, 191, 0.533);
    }
    .project-content {
      border-radius: 20px;
      box-sizing: border-box;
      z-index: 4;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
      background-color: #27272700;
      color: rgb(255, 255, 255);
      font-size: inherit;
      width: 100%;
      height: 100%;
      text-align: center;
      p {
        display: flex;
        text-align: center;
        box-sizing: border-box;
        font-size: 1em;
        background-color: rgba(13, 14, 22, 0.95);
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: solid 1px rgb(58, 55, 55);
        height: 100px;
        min-height: 100px;
        @media (max-width: 660px) {
          padding: 10px;
          font-size: 0.8em;
        }
      }
      span {
        box-sizing: border-box;
        font-size: 0.9em;
        padding: 20px;
        border: 2px solid rgb(90, 97, 224);
        background: linear-gradient(
          180deg,
          rgb(51, 65, 127) 0%,
          rgba(40, 43, 101, 0.979) 100%
        );
        color: rgb(180, 189, 246);
        @media (max-width: 660px) {
          font-size: 0.8em;
          padding: 10px;
        }
        font-weight: 600;
        border-radius: 10px;
      }
    }
  }
  #portfolio-container {
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    box-sizing: border-box;
    padding: 30px;
    max-width: 1920px;
  }
  #desk-pic {
    z-index: -1;
    opacity: 0.9;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}
.portfolio {
  margin-bottom: auto;
  margin-top: auto;
  height: 100%;
  width: 100%;
}
// Contact Page
.contact-page-container {
  box-sizing: border-box;
  // border: 1px solid rgb(38, 37, 37);
  // background: rgb(14, 13, 24);
  // background: linear-gradient(
  //   180deg,
  //   rgb(51, 65, 127) 0%,
  //   rgba(33, 35, 135, 0.918) 100%
  // );
  background: linear-gradient(
    180deg,
    rgba(31, 47, 79, 0.502) 0%,
    rgba(4, 3, 11, 0.918) 100%
  );
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  .contact-section {
    z-index: 2;
  }
  #cave-pic {
    z-index: 0;
    opacity: 0.02;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  // Header
  .header-container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // Contact text
    .text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .icon {
      display: inherit;
      margin: auto;
      width: 50px;
      height: 50px;
      padding: 20px;
      color: rgb(255, 255, 255);
    }
  }
  .emoji {
    margin: 5px;
    height: 35px;
    width: 35px;
    object-fit: contain;
  }
  a {
    color: rgb(0, 98, 255);
    &:hover {
      color: rgb(243, 255, 136);
    }
  }
  // Contact Form
  .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    // margin: 0 auto;
    // @media (max-width: 768px) {
    //   max-width: 600px;
    // }
    @media (max-width: 480px) {
      flex-direction: column;
    }

    @media (max-width: 480px) {
      // max-width: 400px;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      order: 1;
      flex: 60%;
      @media (max-width: 596px) {
        order: 2; /* default order */
      }
      .input-group {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: center;
        width: 100%;
        input {
          border-radius: 2px;
          font-family: inherit;
          font-size: 1em;
          appearance: none;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          width: 80%;
          margin: 20px 0 20px 0;
          background-color: rgb(37, 39, 45);
          color: rgb(255, 255, 255);
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 191, 255);
            box-shadow: 0 0 5px #719ece;
          }
        }
        textarea {
          border-radius: 2px;
          resize: none;
          font-family: inherit;
          font-size: 1em;
          appearance: none;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 300px;
          width: 80%;
          margin: 20px 0 20px 0;
          background-color: rgb(37, 39, 45);
          color: rgb(255, 255, 255);
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 191, 255);
            box-shadow: 0 0 5px #719ece;
          }
        }
      }
      .submit-button {
        // font-family: "Courier Prime", monospace;
        font-size: 1em;
        background-color: #407ceb;
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 4px;
        // cursor: pointer;
        &:hover {
          background-color: #4584fb;
        }
      }
    }
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: auto;
      height: 100%;
      width: 100%;
      order: 2;
      flex: 40%;
      @media (max-width: 596px) {
        order: 1; /* default order */
      }
      .image {
        display: inherit;
        margin: auto;
        align-items: center;
        justify-content: center;
        font-size: 100px;
        height: 100px;
        width: 100px;
        color: #ffffff;
        #gmail-pic {
          object-fit: contain;
          height: 100px;
          width: 100px;
        }
      }
      .description {
        padding: 20px;
        span {
          display: inherit;
          text-align: center;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  // font-family: "Courier Prime", monospace;
  h1 {
    font-size: 1.5em;
    margin-bottom: auto;
    text-align: center;
  }
  .title {
    @media (max-width: 596px) {
      // margin-top: 200px;
    }
    text-align: center;
  }
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  // background: linear-gradient(
  //   180deg,
  //   rgba(19, 19, 46, 0.404) 0%,
  //   rgba(0, 0, 0, 0.992) 100%
  // );
}
.footer {
  margin: auto;
  // font-family: "Courier Prime", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 200px;
  span {
    color: white;
  }
  font-size: 0.8em;
}

// Button
.pushable {
  font-family: "DotGothic16", sans-serif;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  // cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(223, 74%, 58%) 0%,
    hsl(262, 61%, 52%) 8%,
    hsl(248, 52%, 36%) 92%,
    hsl(264, 42%, 13%) 100%
  );
  &.blue {
    background: linear-gradient(
      to left,
      hsl(203, 100%, 76%) 0%,
      hsl(210, 64%, 45%) 8%,
      hsl(213, 51%, 36%) 92%,
      hsl(222, 60%, 20%) 100%
    );
  }
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2em;
  @media (max-width: 414px) {
    font-size: 1.5em;
  }
  color: white;
  background: hsl(232, 47%, 53%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  &.blue {
    background: hsl(210, 100%, 60%);
  }
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

//Day/Night

//Tooltip
.Tooltip {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 0.85rem;
  max-width: 400px;
  z-index: 9999999999;
}
