@font-face {
  font-family: "FSEX300";
  src: url("../../public/fonts/FSEX300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/avannak-portfolio/public/fonts/Inter/static/Inter.ttf")
    format("truetype");
  font-style: normal;
}

.cursor {
  display: flex;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "FSEX300";
}

html {
  font-size: 1em;
}

body {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.295);
  font-weight: 400;
  margin: 0 auto;
  background: linear-gradient(
    to top,
    hsl(180, 25%, 3%) 0%,
    /* Light Blue */ hsl(240, 38%, 9%) 30%,
    /* Blue-Purple */ hsl(231, 51%, 8%) 70%,
    /* Deep Purple */ hsl(265, 29%, 8%) 100% /* Dark Pink */
  );
  @media (max-width: 1024px) {
    font-size: 1.2em;
  }
  @media (max-width: 600px) {
    font-size: 1em;
  }
  max-width: 100%;
  min-width: 370px;
}
.app-container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: max-content;
  max-width: 1440px; // Set the maximum width to 1920 pixels for screens up to 1920 pixels wide
}

#stars-pic {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -999999999;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background: linear-gradient(
    180deg,
    rgba(18, 16, 21, 0) 0%,
    rgb(19, 17, 23) 100%
  );
}

// Particles Video
#particles-video {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1000000000000000000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  object-fit: cover;
}
#particles-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 200%;
  height: 200%;
  object-position: center;
}
#code-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -4;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// * NavBar
.nav-bar {
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    hsl(240, 5%, 4%) 0%,
    hsl(256, 13%, 17%) 8%,
    hsl(0, 0%, 5%) 92%,
    hsl(224, 39%, 19%) 100%
  );
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  min-width: 370px;
}
.nav-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
// Day & Night Toggle
.day-night-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links inside the navbar */
.nav-bar a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  background: #ddd;
  color: black;
  // cursor: pointer;
}

.content-container {
  width: 100%;
  height: 100%;
}
img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// Background Photo
.bg-img {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: 1;
  z-index: -5;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}
.bg-code {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -3;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  object-fit: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  opacity: 0.04;
}
// * Navigation Menu
#about-me-link {
  font-family: "FSEX300";
  @media (max-width: 500px) {
    font-size: 0.8em;
  }
}
.nav-menu {
  .nav-menu-container {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: fit-content;
  }
  z-index: 0;
  ul {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  li {
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  a {
    color: inherit;
    text-decoration: none;
    text-align: center;
  }
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
  min-width: 370px;
  min-height: 1080px;
  height: 100vh;
  max-width: 100%;
  margin: auto;

  // Full Name
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "FSEX300";
    z-index: 0;
    text-align: left;
    position: relative;
    width: 100%;

    // Title Name
    .name {
      @media (max-width: 598px) {
        font-size: 1.8em;
      }
    }
    h1 {
      color: rgb(255, 255, 255);
      padding: 0px;
      margin-left: 30px;
      font-size: 3em;
      text-shadow: rgba(0, 0, 0, 0.613) 2px 10px 0px;
    }
    // Occupation Name
    .occupation-container {
      // Occupation Title
      .title {
        font-size: 1.3em;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.613) 2px 4px 0px;
        &.sect1 {
          display: flex;
          align-items: center;
          #cog-img {
            object-fit: contain;
            height: 30px;
            width: 30px;
            padding: 5px;
          }
          #code-pixel-img {
            object-fit: contain;
            height: 30px;
            width: 30px;
            padding: 5px;
          }
        }
        &.sect2 {
          display: flex;
          align-items: center;
          #music-note-img {
            object-fit: contain;
            height: 30px;
            width: 30px;
            padding: 5px;
          }
        }
      }
      #front-end {
        color: rgb(181, 254, 117);
      }
      #amper {
        color: rgb(60, 173, 243);
      }
      #artist {
        color: rgb(117, 254, 222);
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      width: 100%;
      height: 100px;
      @media (max-height: 896px) {
        // top: 200px;
      }
      @media (max-width: 896px) {
        font-size: 1em;
        .icon {
          height: 100px;
        }
      }
      @media (max-width: 500px) {
        font-size: 0.8em;
      }
    }
  }
  .nav-selections {
    box-sizing: border-box;
    li {
      font-size: 2.5rem;
      &:hover {
        color: rgb(244, 236, 117);
        transition: color 0.3s ease;
      }
    }
    align-items: center;
    justify-content: center;
    text-align: left;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
  .nav-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: max-content;
    .nav-selections-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .nav-background {
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    display: flex;
    text-align: center;
  }
}
//Download Button
.download-resume-wrapper {
  font-family: "FSEX300";
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  padding: 0;
  height: 200px;
  width: 100%;
  @media (max-width: 600px) {
    font-size: 0.7em;
  }
  border-radius: 20px;
}
//Toggle container
.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.toggle-container {
  position: relative;
  font-size: 0.7em;
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  .social-svg {
    &:hover {
      background-color: rgba(67, 58, 99, 0.437);
      transition: background-color 0.3s ease;
    }
  }
}
.title-divider {
  margin: auto;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 1px;
}
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
// Home Page
.home-page-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}
// About Page
#about-section {
  z-index: 999;
  box-sizing: border-box;
  position: relative;
  height: fit-content;
}

@keyframes mymove {
  50% {
    border-color: rgb(12, 11, 13);
  }
}

#city-pic-overlay {
  z-index: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  left: 0;
  height: 100%;
  width: 100%;
}
section {
  width: 100%;
  height: 100%;
}

#space-pic {
  z-index: -99;
  opacity: 0.1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

#background-pic {
  z-index: 0;
  opacity: 0.5;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#code-pic {
  z-index: 0;
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 100%;
  height: 100%;
}
#code-pic-overlay {
  opacity: 0;
  z-index: 0;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 27, 0.934) 0%,
    rgba(2, 1, 4, 0.916) 100%
  );
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-position: center;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
}

.barcode-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px auto 15px auto;
  background-color: rgba(133, 133, 133, 0.574);
  path {
    fill: rgba(0, 0, 0, 0.464);
    width: 100%;
  }
}

.about-description-list {
  li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem; // Adjusts spacing between list items
    min-width: 100px; /* Adjust as needed */
    max-width: 100%; /* Adjust as needed */
  }

  .animated-text {
    /* Remove or comment out white-space: nowrap; */
    /* white-space: nowrap; */
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 0.05em;
    animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  .author {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    margin-top: 20px;
    text-align: right;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 2s;
    animation-delay: 0.5s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    font-style: italic; /* optional styling */
  }

  .mission-statement {
    margin-top: 100px;
    margin-bottom: 1rem; // Adjusts spacing between list items
    position: relative;
    padding: 20px;
    /* Add max-width or width as needed */
    max-width: 600px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 15px;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .highlight-degree,
  .highlight-tech,
  .highlight-art,
  .highlight-invitation {
    font-weight: bold; // Adds emphasis
  }
  .highlight-degree {
    color: rgb(196, 119, 255);
  }
  .highlight-tech {
    color: rgb(60, 148, 255);
  }
  .highlight-art {
    color: rgb(165, 165, 255);
  }
  .highlight-invitation {
    color: rgb(212, 247, 208);
  }
}

.about-page-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: max-content;
  min-height: 100vh;
  width: 100%;
  border-radius: 5px;
  @media (max-width: 800px) {
    width: 100%;
  }
  color: rgb(255, 255, 255);
  h1 {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
  }
  h2 {
    margin-bottom: 5px;
    text-align: center;
  }
  a {
    padding: 5px;
    font-size: 1em;
    color: rgb(0, 98, 255);
    &:hover {
      color: rgb(243, 255, 136);
    }
  }
  .about-me-section {
    background: rgba(10, 10, 16, 0.874);
    box-shadow: 0px 0px 20px rgba(29, 59, 78, 0.42);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    .about-icons-column {
      display: flex;
      position: relative;
      text-align: center;
      flex: 50%;
      width: 100%;
      height: 200px;
      min-width: 250px;
      max-width: 100%;
      min-height: 210px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      .laptop-icon-container {
        display: flex;
        position: relative;
        margin: auto;
        justify-content: center;
        width: 100%;
        height: 100%;
        #container-text {
          z-index: 5;
          display: flex;
          width: 90%;
          height: 100%;
          position: absolute;
          font-family: "FSEX300";
          font-size: 1em;
          box-sizing: border-box;
          border-radius: 20px;
          padding: 1rem;
          align-items: center;
          justify-content: center;
          @media (max-width: 562px) {
            font-size: 0.7em;
          }
          span {
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 20px;
            text-align: center;
            margin-bottom: auto;
            bottom: 0;
            z-index: 4;
          }
          #text1 {
            color: rgb(100, 216, 255);
          }
          #text2 {
            color: rgb(250, 83, 83);
          }
          #text3 {
            color: rgb(175, 57, 180);
          }
          #braces {
            color: rgb(75, 190, 244);
          }
          #return {
            color: rgb(244, 75, 114);
          }
          #dotlog {
            color: rgb(246, 254, 96);
          }
          #text4 {
            color: rgb(189, 123, 255);
          }
          #pleased {
            color: rgb(190, 255, 111);
          }
          #macbook-img {
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            position: absolute;
            height: 170px;
            width: 200px;
            object-fit: contain;
          }
        }
      }
    }
    .about-description-column {
      box-sizing: border-box;
      font-size: 1em;
      text-align: left;
      ul {
        margin: auto;
        padding: 0px;
        max-width: 900px;
        width: 90%;
      }
      li {
        max-width: 100%;
        padding: 10px;
        list-style: none;
      }
      .about-description-list {
        #hello-emote-container {
          box-sizing: border-box;
          padding: 1rem;
          display: flex;
          flex-direction: row;
        }
        .img {
          box-sizing: border-box;
          height: 100px;
          width: 100px;
          object-fit: contain;
          @media (max-width: 562px) {
            height: 70px;
            width: 70px;
          }
          &.glow {
            filter: drop-shadow(0 0 2px #ffffff18);
          }
        }
      }
    }
    .rokit-span {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 0.8em;
    }
    .rokit-container {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 2rem;
      max-height: 100px;
      display: flex;
      justify-content: center;
      background: repeating-conic-gradient(
          rgba(49, 60, 93, 0.481) 0% 2%,
          /* adjust the 2% for thinner or thicker rays */ rgba(8, 12, 22, 0.422)
            2% 4% /* adjust the 4% likewise */
        ),
        linear-gradient(
          90deg,
          rgba(25, 46, 103, 0.81),
          rgba(129, 129, 248, 0.625) 50%,
          rgba(63, 84, 241, 0.478) 100%
        );
      width: 90%;
      margin: auto;
      align-items: center;
      img {
        height: 100px;
        width: 100px;
      }
      @media (max-width: 1024px) {
        img {
          height: 80px;
          width: 80px;
        }
      }
      @media (max-width: 562px) {
        img {
          height: 50px;
          width: 50px;
        }
      }
      #rode-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #rokit-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #volt-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #akai-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #sg-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
      #dt990-img {
        box-sizing: border-box;
        padding: 8px;
        object-fit: contain;
      }
    }
  }
  // For language rotating card
  .no-pointer-events {
    pointer-events: none;
  }

  .languages-section {
    #gear-img {
      opacity: 0.9;
      position: absolute;
      object-fit: contain;
      z-index: -1;
      width: 90%;
      max-width: 400px;
      min-width: 100px;
      height: 650px;
      min-height: 650px;
      max-height: 650px;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
    }
    margin-bottom: 200px;
  }
  // languages icons
  .language-container {
    z-index: 9999999;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    padding: 1rem 1rem;
    margin: auto;
    padding: 50px 10px 50px 10px;
    display: flex;
    span {
      padding: 1px;
    }
    @media (max-width: 562px) {
      font-size: 0.6em;
      pointer-events: none;
    }
    // Skills
    .fed-languages-list {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 1rem;
      border: 1px solid rgba(158, 156, 199, 0.686);
      background: radial-gradient(
        circle,
        rgba(7, 10, 23, 0.523) 0%,
        rgba(6, 3, 11, 0.76) 98%,
        rgba(0, 0, 0, 0.875) 100%
      );
      color: #eee;
      text-shadow: 0 1px 0 #000000;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      li {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
        flex: 20%;
        overflow: hidden;
      }
      span {
        font-size: 0.8em;
        text-align: center;
      }
    }
    .bed-languages-list {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 2rem;
      border: 1px solid rgba(158, 156, 199, 0.686);
      background: radial-gradient(
        circle,
        rgba(23, 25, 34, 0.523) 0%,
        rgba(10, 8, 13, 0.349) 98%,
        rgba(0, 0, 0, 0.875) 100%
      );
      color: #eee;
      text-shadow: 0 1px 0 #999;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      li {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
        flex: 50%;
        overflow: hidden;
      }
      span {
        font-size: 0.8em;
        text-align: center;
        color: rgb(255, 255, 255);
      }
    }
  }
  .font-awesome-icon {
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    padding: 10px;
    @media (max-width: 590px) {
      height: 30px;
      width: 30px;
    }
  }
}
// Modal
.modal-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .dialog-box {
    display: flex;
    flex-direction: column;
    z-index: 1001;
    background: linear-gradient(
      180deg,
      rgb(18, 21, 26) 0%,
      rgba(16, 16, 24, 0.967) 100%
    );
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 10px rgba(29, 59, 78, 0.071);
    height: auto;
    width: 80vw;
    max-height: 80vh; // It can be set to any desired value.
    overflow-y: auto; // Add scrolling if the content exceeds max-height
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    min-width: 200px;
    max-width: 1000px;
    padding: 1em;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: none;
    position: absolute;
    @media (max-width: 700px) {
      max-height: 700px;
      width: 95vw;
      height: max-content;
      font-size: 0.75em;
    }
    .close-button {
      margin-left: auto;
      margin-top: auto;
      min-width: 50px;
      min-height: 30px;
      width: 50px;
      height: 30px;
      color: rgb(255, 255, 255);
      &:hover {
        color: rgb(78, 229, 131);
      }
    }
    .content {
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .image-container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: black;
        flex: 40%;
        padding: 20px;
        min-width: 200px;
        .image {
          border-radius: 20px;
          box-sizing: border-box;
          display: inherit;
          margin: auto;
          padding: 0px;
          height: 80%;
          width: 90%;
          object-fit: cover;
          object-position: top;
          box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
          &.bstock {
            object-position: top left;
          }
          @media (max-width: 590px) {
            max-height: 200px;
            max-width: 200px;
          }
        }
      }
      .description-container {
        box-sizing: border-box;
        padding: 10px;
        color: rgb(239, 240, 255);
        flex: 60%;
        width: 100%;
        // Title
        h1 {
          font-size: 1.2em;
          text-align: center;
          padding: 3px;
          color: rgb(254, 254, 254);
          text-shadow: 0px 8px 4px rgba(2, 2, 2, 0.459);
        }
        .stack-container {
          box-sizing: border-box;
          font-size: 1em;
          display: flex;
          text-align: left;
          flex-direction: column;
          .title {
            text-align: center;
            color: rgb(204, 205, 255);
            padding: 10px 20px 5px 20px;
          }
          .stack {
            box-sizing: border-box;
            padding: 10px 10px 20px 10px;
            display: flex;
            margin: auto;
            color: rgb(255, 255, 255);
            .icon {
              flex: 10%;
              width: 35px;
              height: 35px;
              padding: 4px;
              @media (max-width: 590px) {
                width: 20px;
                height: 20px;
              }
            }
            .fed {
              border-radius: 10px 0 0 10px;
              box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              padding: 8px;
              background-color: #5a6ad3;
            }
            .bed {
              border-radius: 0 10px 10px 0;
              box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              padding: 8px;
              background-color: rgb(81, 65, 205);
            }
          }
          .hover-icon-box {
            width: 90%;
            height: 20px;
            margin: auto;
            // z-index: 9999;
            .icon-text {
              text-align: center;
              display: block;
              margin: auto;
              position: relative;
              background-color: rgb(9, 8, 12);
              color: white;
              padding: 4px 8px;
              border-radius: 4px;
              opacity: 0;
              pointer-events: none;
              transition: opacity 0.3s ease-in-out;
            }
            &:hover .icon-text {
              opacity: 1;
            }
          }
        }
        p {
          font-size: 0.9em;
          text-align: left;
          padding: 20px 20px 20px 20px;
          line-height: 1.8em;
        }
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: lightblue;
        }
      }
    }
  }
}
// Header Container
.icon-container {
  width: 200px;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  height: 100%;
  min-width: max-content;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  span {
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  @media (max-width: 660px) {
    width: 100px;
  }
}
.icon-container .icon {
  font-size: 1.7em;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  .icon-container {
    background-color: rgba(145, 156, 214, 0.291);
  }
}
.header-title {
  position: relative;
  z-index: 1;
  height: 130px;
  background: rgba(9, 9, 11, 0.95);
  background-repeat: none;
  width: 100%;
  h1 {
    text-decoration: underline;
  }
  @media (max-width: 660px) {
    margin: 10;
    font-size: 1em;
    h1 {
      font-weight: bolder;
    }
  }
  box-sizing: border-box;
  padding: 0.2rem;
  .content-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2rem;
    margin: auto;

    &.navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon {
        height: 40px;
        width: 40px;
        color: white;
      }
    }
  }

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-shadow: rgba(255, 204, 0, 0.098) 1px 0 10px;
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  span {
    margin-top: 20px;
  }
  .container {
    .title {
      margin-bottom: auto;
      text-align: center;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.header-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Linear gradient stripes here */
  background-image: repeating-linear-gradient(
      90deg,
      #3a465f,
      #22375f 2px,
      #17191d 5px,
      #172132 10px
    ),
    repeating-linear-gradient(
      90deg,
      #3a465f,
      #22375f 2px,
      #17191d 5px,
      #172132 10px
    );
  background-size: 100% 2px, 100% 2px;
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  pointer-events: none;
}
.disclaimer {
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: rgb(84, 212, 255);
  }
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// My Work Page

.mywork-page-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 100%;
  margin: auto;
  color: rgb(255, 255, 255);
  h1 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: auto;
  }
  h3 {
    padding: 0;
    font-size: 0.5em;
    text-align: center;
  }
  // Description
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  // PROJECT ROW
  .row {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // PROJECT COLUMN
  .project-thumbnail {
    position: relative;

    .middle {
      position: relative;

      &:hover .view-text-container {
        opacity: 1;
      }
    }
    .view-text-container {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 10px;
      background-color: black;
      opacity: 0;
      transition: opacity 0.3s ease;
      color: white;
    }

    .cursor-text {
      position: fixed;
      pointer-events: none;
      z-index: 9999;
    }
  }

  .project-column {
    border-radius: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    max-width: 500px;
    height: 300px;
    max-height: 98%;
    margin: auto;
    position: relative;
    border: 1px solid rgb(18, 28, 57);
    .clickToViewBtn {
      font-family: "FSEX300";
      position: relative;
      display: flex;
      margin: auto;
      align-items: center;
      font-size: 0.8em;
      justify-content: center;
      padding: 0;
      height: 200px;
      width: 100%;
      @media (max-width: 600px) {
        font-size: 0.7em;
      }
      background: linear-gradient(#e6646400, #06060f);
      border-radius: 20px;
    }
    &:hover {
      .pushable {
        filter: brightness(110%);
        box-shadow: rgba(255, 255, 255, 0.174) 2px 2px 10px;

        border-radius: 12px;
        .front {
          transform: translateY(-6px);
          transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          background: linear-gradient(
            to left,
            hsl(210, 8%, 10%) 0%,
            /* Light Blue */ hsl(240, 37%, 27%) 30%,
            /* Blue-Purple */ hsl(284, 37%, 14%) 70%,
            /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
          );
        }

        .shadow {
          transform: translateY(4px);
          transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        }
      }
    }
  }

  .container .image {
    border-radius: 20px;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    transition: 0.1s ease;
    backface-visibility: hidden;
  }
  .middle {
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 5;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    position: relative;
    text-align: center;
    &:hover {
      #project-img {
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 1;
        border-radius: 20px;
      }
      box-shadow: 0px 0px 0px 5px rgba(65, 249, 71, 0.861);
    }
    .project-content {
      border-radius: 20px;
      box-sizing: border-box;
      z-index: 4;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
      background: rgba(55, 62, 71, 0.427);
      color: rgb(255, 255, 255);
      font-size: inherit;
      width: 100%;
      height: 100%;
      text-align: center;
      p {
        display: flex;
        text-align: center;
        box-sizing: border-box;
        font-size: 1em;
        font-weight: bold;
        background: linear-gradient(#191827, #06060c);
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: solid 1px rgb(58, 55, 55);
        height: 100px;
        min-height: 100px;
        @media (max-width: 660px) {
          padding: 10px;
          font-size: 0.8em;
        }
      }
      span {
        box-sizing: border-box;
        font-size: 1.9em;
        padding: 20px;
        color: rgb(255, 255, 255);
        @media (max-width: 660px) {
          font-size: 2em;
          padding: 10px;
        }
        font-weight: 600;
        border-radius: 10px;
      }
    }
  }
  #portfolio-container {
    display: flex;
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    max-width: 1920px;
  }
}
.portfolio {
  margin-bottom: auto;
  margin-top: auto;
  height: max-content;
  width: 100vw;
  min-height: 100vh;
}
// Contact Page
.contact-page-container {
  box-sizing: border-box;
  background-color: #10112688;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  .contact-section {
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  #mountain-pic {
    z-index: 0;
    opacity: 0.02;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  // Header
  .header-container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // Contact text
    .text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .icon {
      display: inherit;
      margin: auto;
      width: 50px;
      height: 50px;
      padding: 20px;
      color: rgb(255, 255, 255);
    }
  }
  .emoji {
    margin: 5px;
    height: 35px;
    width: 35px;
    object-fit: contain;
  }
  a {
    color: rgb(0, 98, 255);
    &:hover {
      color: rgb(243, 255, 136);
    }
  }
  // Contact Form
  .error {
    font-size: 0.8em;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 0;
    margin: 0;
    color: rgb(255, 81, 81);
    @media (max-width: 500px) {
      max-width: 300px;
    }
  }
  .success {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    color: rgb(81, 255, 130);
  }
  .contact-form {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      max-width: 500px;
      width: 100%;
      order: 1;
      flex: 50%;
      @media (max-width: 518px) {
        order: 2; /* default order */
      }
      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        input {
          border-radius: 2px;
          font-family: inherit;
          font-size: 1em;
          appearance: none;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          width: 80%;
          margin: 20px 0 20px 0;
          background-color: rgb(37, 39, 45);
          color: rgb(255, 255, 255);
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 191, 255);
            box-shadow: 0 0 5px #719ece;
          }
        }
        textarea {
          border-radius: 2px;
          resize: none;
          font-family: inherit;
          font-size: 1em;
          appearance: none;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 300px;
          width: 80%;
          margin: 20px 0 20px 0;
          background-color: rgb(37, 39, 45);
          color: rgb(255, 255, 255);
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 191, 255);
            box-shadow: 0 0 5px #719ece;
          }
        }
      }
      .submit-button {
        font-size: 1em;
        background-color: #407ceb;
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: #4584fb;
        }
      }
    }
    .image-container {
      line-height: 2em;
      box-sizing: border-box;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: auto;
      height: 100%;
      width: 100%;
      order: 2;
      flex: 40%;

      @media (max-width: 596px) {
        order: 1;
      }

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 100px;
        color: #ffffff;

        #gmail-pic {
          object-fit: contain;
          width: 100px;
          height: auto;
        }
      }
      .description {
        padding: 50px;
        background: repeating-linear-gradient(
            -45deg,
            hsla(200, 14%, 4%, 0.723),
            /* Light Blue */ hsl(240, 12%, 8%) 10px,
            /* Blue-Purple */ hsla(228, 8%, 12%, 0.481) 10px,
            /* Deep Purple */ hsla(338, 20%, 8%, 0.394) 20px
          ),
          linear-gradient(
            90deg,
            rgba(22, 29, 33, 0.481),
            rgba(15, 16, 21, 0.853) 50%,
            rgba(14, 14, 22, 0.478) 100%
          );
        border: solid 2px #d1d1d9d4;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: "Arial", sans-serif;

        span {
          display: block;
          text-align: center;
          padding: 10px;
          box-sizing: border-box;
        }
      }
    }
  }
  h1 {
    font-size: 1.2em;
    margin-bottom: auto;
    text-align: center;
  }
  .title {
    text-align: center;
  }
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}
.footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 200px;
  span {
    color: white;
  }
  font-size: 0.8em;
}

// Button
.pushable {
  font-family: "FSEX300";
  font-size: 0.6em;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline-offset: 4px;
  transition: filter 250ms;
  &.contact {
    margin: 20px;
  }
}
.pushable.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(211, 27%, 34%) 0%,
    /* Light Blue */ hsl(239, 100%, 63%) 30%,
    /* Blue-Purple */ hsl(262, 65%, 53%) 70%,
    /* Deep Purple */ hsl(327, 50%, 52%) 100% /* Dark Pink */
  );
  filter: drop-shadow(0px 10px 4px #0b0b12);
  &.blue {
    background: linear-gradient(
      to left,
      hsl(211, 27%, 34%) 0%,
      /* Light Blue */ hsl(239, 100%, 63%) 30%,
      /* Blue-Purple */ hsl(262, 65%, 53%) 70%,
      /* Deep Purple */ hsl(327, 50%, 52%) 100% /* Dark Pink */
    );
  }
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2em;
  @media (max-width: 414px) {
    font-size: 1.5em;
  }
  color: white;
  background: linear-gradient(
    to left,
    hsl(220, 16%, 7%) 0%,
    /* Light Blue */ hsl(240, 24%, 15%) 30%,
    /* Blue-Purple */ hsl(282, 25%, 8%) 70%,
    /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
  );
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  &.blue {
    background: linear-gradient(
      to left,
      hsl(220, 16%, 7%) 0%,
      /* Light Blue */ hsl(240, 24%, 15%) 30%,
      /* Blue-Purple */ hsl(282, 25%, 8%) 70%,
      /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
    );
  }
}
.pushable:hover {
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 2px 2px 10px;
  border-radius: 12px;
}
.pushable:hover .front {
  background: linear-gradient(
    to left,
    hsl(210, 8%, 10%) 0%,
    /* Light Blue */ hsl(240, 37%, 27%) 30%,
    /* Blue-Purple */ hsl(284, 37%, 14%) 70%,
    /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
  );
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

//Day/Night

//Tooltip
.Tooltip {
  font-family: "FSEX300";
  background: rgba(0, 0, 0, 0.85);
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 0.8em;
  max-width: 400px;
  z-index: 9999999999;
}
