@font-face {
  font-family: "FSEX300";
  src: url("../../public/fonts/FSEX300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/avannak-portfolio/public/fonts/Inter/static/Inter.ttf") format("truetype");
  font-style: normal;
}
.cursor {
  display: flex;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "FSEX300";
}

body {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.295);
  font-weight: 400;
  font-size: 1.2em;
  margin: 0 auto;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(12, 12, 12) 100%);
  max-width: 100%;
  min-width: 370px;
}
@media (max-width: 1024px) {
  body {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 1.2em;
  }
}

.app-container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: 1440px;
}

#stars-pic {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -999999999;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background: linear-gradient(180deg, rgba(18, 16, 21, 0) 0%, rgb(19, 17, 23) 100%);
}

#particles-video {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1000000000000000000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#particles-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200%;
  height: 200%;
  -o-object-position: center;
     object-position: center;
}

#code-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -4;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-bar {
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to bottom, hsl(223, 7%, 19%) 0%, hsl(256, 13%, 17%) 8%, hsl(0, 0%, 11%) 92%, hsl(224, 39%, 19%) 100%);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  min-width: 370px;
}

.nav-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.day-night-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links inside the navbar */
.nav-bar a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  background: #ddd;
  color: black;
}

.content-container {
  width: 100%;
  height: 100%;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bg-img {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: 1;
  z-index: -5;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-code {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -3;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  opacity: 0.04;
}

#about-me-link {
  font-family: "FSEX300";
}
@media (max-width: 500px) {
  #about-me-link {
    font-size: 0.8em;
  }
}

.nav-menu {
  z-index: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
  min-width: 370px;
  min-height: 1080px;
  height: 100vh;
  max-width: 100%;
  margin: auto;
}
.nav-menu .nav-menu-container {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
}
.nav-menu li {
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.nav-menu a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.nav-menu .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "FSEX300";
  z-index: 0;
  text-align: left;
  position: relative;
  width: 100%;
}
@media (max-width: 598px) {
  .nav-menu .title-container .name {
    font-size: 1.8em;
  }
}
.nav-menu .title-container h1 {
  color: rgb(255, 255, 255);
  padding: 0px;
  margin-left: 30px;
  font-size: 3em;
  text-shadow: rgba(0, 0, 0, 0.613) 2px 10px 0px;
}
.nav-menu .title-container .occupation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
}
.nav-menu .title-container .occupation-container .title {
  font-size: 1.3em;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.613) 2px 4px 0px;
}
.nav-menu .title-container .occupation-container .title.sect1 {
  display: flex;
  align-items: center;
}
.nav-menu .title-container .occupation-container .title.sect1 #cog-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.nav-menu .title-container .occupation-container .title.sect1 #code-pixel-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.nav-menu .title-container .occupation-container .title.sect2 {
  display: flex;
  align-items: center;
}
.nav-menu .title-container .occupation-container .title.sect2 #music-note-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.nav-menu .title-container .occupation-container #front-end {
  color: rgb(181, 254, 117);
}
.nav-menu .title-container .occupation-container #amper {
  color: rgb(60, 173, 243);
}
.nav-menu .title-container .occupation-container #artist {
  color: rgb(117, 254, 222);
}
@media (max-width: 896px) {
  .nav-menu .title-container .occupation-container {
    font-size: 1em;
  }
  .nav-menu .title-container .occupation-container .icon {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .nav-menu .title-container .occupation-container {
    font-size: 0.8em;
  }
}
.nav-menu .nav-selections {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.nav-menu .nav-selections li {
  font-size: 2.5rem;
}
.nav-menu .nav-selections li:hover {
  color: rgb(244, 236, 117);
  transition: color 0.3s ease;
}
.nav-menu .nav-selections a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.nav-menu .nav-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
}
.nav-menu .nav-container .nav-selections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-menu .nav-container .nav-background {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav-menu h2 {
  display: flex;
  text-align: center;
}

.download-resume-wrapper {
  font-family: "FSEX300";
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  padding: 0;
  height: 200px;
}
@media (max-width: 600px) {
  .download-resume-wrapper {
    font-size: 0.7em;
  }
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.toggle-container {
  position: relative;
  font-size: 0.7em;
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.header .social-svg:hover {
  background-color: rgba(67, 58, 99, 0.437);
  transition: background-color 0.3s ease;
}

.title-divider {
  margin: auto;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 1px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-page-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}

#about-section {
  z-index: 999;
  box-sizing: border-box;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

@keyframes mymove {
  50% {
    border-color: rgb(12, 11, 13);
  }
}
#city-pic-overlay {
  z-index: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  left: 0;
  height: 100%;
  width: 100%;
}

section {
  background-color: rgba(0, 0, 0, 0.487);
}

#space-pic {
  z-index: -99;
  opacity: 0.4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

#background-pic {
  z-index: 0;
  opacity: 0.5;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#code-pic {
  z-index: 0;
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 100%;
  height: 100%;
}

#code-pic-overlay {
  opacity: 0;
  z-index: 0;
  background: linear-gradient(180deg, rgba(23, 23, 27, 0.934) 0%, rgba(2, 1, 4, 0.916) 100%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
}

.barcode-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px auto 15px auto;
  background-color: rgba(133, 133, 133, 0.574);
}
.barcode-icon path {
  fill: rgba(0, 0, 0, 0.464);
  width: 100%;
}

.about-description-list li {
  margin-bottom: 1rem;
}
.about-description-list .mission-statement {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  background-color: rgba(64, 124, 235, 0.3294117647);
  border-radius: 15px;
}
.about-description-list .highlight-degree,
.about-description-list .highlight-tech,
.about-description-list .highlight-art,
.about-description-list .highlight-invitation {
  font-weight: bold;
}
.about-description-list .highlight-degree {
  color: rgb(196, 119, 255);
}
.about-description-list .highlight-tech {
  color: rgb(60, 148, 255);
}
.about-description-list .highlight-art {
  color: rgb(165, 165, 255);
}
.about-description-list .highlight-invitation {
  color: rgb(212, 247, 208);
}

.about-page-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  width: 100%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
@media (max-width: 800px) {
  .about-page-container {
    width: 100%;
  }
}
.about-page-container h1 {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}
.about-page-container h2 {
  margin-bottom: 5px;
  text-align: center;
}
.about-page-container p {
  padding: 50px;
}
.about-page-container a {
  padding: 5px;
  font-size: 1em;
  color: rgb(0, 98, 255);
}
.about-page-container a:hover {
  color: rgb(243, 255, 136);
}
.about-page-container .about-me-section {
  background-color: rgba(18, 18, 30, 0.7607843137);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.about-page-container .about-me-section .about-icons-column {
  display: flex;
  position: relative;
  text-align: center;
  flex: 50%;
  width: 300px;
  height: 200px;
  min-width: 250px;
  max-width: 100%;
  min-height: 210px;
  margin: auto;
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text {
  z-index: 5;
  display: flex;
  width: 90%;
  height: 100%;
  position: absolute;
  font-family: "FSEX300";
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.481) 10px, rgba(0, 0, 0, 0.422) 10px, rgba(0, 0, 0, 0.422) 20px), linear-gradient(90deg, rgba(119, 118, 118, 0.481), rgba(175, 70, 255, 0.422) 50%, rgba(141, 141, 141, 0.478) 100%);
}
@media (max-width: 562px) {
  .about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text {
    font-size: 0.7em;
  }
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text span {
  box-sizing: border-box;
  background-color: rgba(11, 12, 17, 0.9058823529);
  border-radius: 20px;
  text-align: center;
  margin-bottom: auto;
  bottom: 0;
  z-index: 4;
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text1 {
  color: rgb(100, 216, 255);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text2 {
  color: rgb(250, 83, 83);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text3 {
  color: rgb(175, 57, 180);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #braces {
  color: rgb(75, 190, 244);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #return {
  color: rgb(244, 75, 114);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #dotlog {
  color: rgb(246, 254, 96);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text4 {
  color: rgb(189, 123, 255);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #pleased {
  color: rgb(190, 255, 111);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #macbook-img {
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  height: 170px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .about-description-column {
  box-sizing: border-box;
  font-size: 1em;
  text-align: left;
}
.about-page-container .about-me-section .about-description-column ul {
  margin: auto;
  padding: 0px;
  max-width: 900px;
  width: 90%;
}
.about-page-container .about-me-section .about-description-column li {
  max-width: 100%;
  padding: 10px;
  list-style: none;
}
.about-page-container .about-me-section .about-description-column .about-description-list #hello-emote-container {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.about-page-container .about-me-section .about-description-column .about-description-list .img {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 562px) {
  .about-page-container .about-me-section .about-description-column .about-description-list .img {
    height: 70px;
    width: 70px;
  }
}
.about-page-container .about-me-section .rokit-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
}
.about-page-container .about-me-section .rokit-container {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem 2rem;
  max-height: 100px;
  display: flex;
  justify-content: center;
  background-color: rgb(65, 120, 223);
  background: repeating-linear-gradient(-45deg, rgba(45, 49, 89, 0.481), rgba(45, 49, 89, 0.481) 10px, rgba(86, 111, 212, 0.422) 10px, rgba(86, 111, 212, 0.422) 20px), linear-gradient(90deg, rgba(45, 49, 89, 0.481) 0%, rgba(86, 111, 212, 0.422) 50%, rgba(115, 94, 232, 0.478) 100%);
  width: 90%;
  margin: auto;
  align-items: center;
}
.about-page-container .about-me-section .rokit-container img {
  height: 100px;
  width: 100px;
}
@media (max-width: 1024px) {
  .about-page-container .about-me-section .rokit-container img {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 562px) {
  .about-page-container .about-me-section .rokit-container img {
    height: 50px;
    width: 50px;
  }
}
.about-page-container .about-me-section .rokit-container #rode-img {
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .rokit-container #rokit-img {
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .rokit-container #volt-img {
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .rokit-container #akai-img {
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .rokit-container #sg-img {
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .rokit-container #dt990-img {
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .no-pointer-events {
  pointer-events: none;
}
.about-page-container .languages-section {
  margin-bottom: 200px;
}
.about-page-container .languages-section #gear-img {
  opacity: 0.9;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
  width: 90%;
  max-width: 400px;
  min-width: 100px;
  height: 650px;
  min-height: 650px;
  max-height: 650px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}
.about-page-container .language-container {
  z-index: 9999999;
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  padding: 1rem 1rem;
  margin: auto;
  padding: 50px 10px 50px 10px;
  display: flex;
}
.about-page-container .language-container span {
  padding: 1px;
}
@media (max-width: 562px) {
  .about-page-container .language-container {
    font-size: 0.6em;
    pointer-events: none;
  }
}
.about-page-container .language-container .fed-languages-list {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem 1rem;
  border: 1px solid rgba(158, 156, 199, 0.686);
  background: radial-gradient(circle, rgba(7, 10, 23, 0.523) 0%, rgba(6, 3, 11, 0.76) 98%, rgba(0, 0, 0, 0.875) 100%);
  color: #eee;
  text-shadow: 0 1px 0 #000000;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-page-container .language-container .fed-languages-list li {
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  flex: 20%;
  overflow: hidden;
}
.about-page-container .language-container .fed-languages-list span {
  font-size: 0.8em;
  text-align: center;
}
.about-page-container .language-container .bed-languages-list {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem 2rem;
  border: 1px solid rgba(158, 156, 199, 0.686);
  background: radial-gradient(circle, rgba(23, 25, 34, 0.523) 0%, rgba(10, 8, 13, 0.349) 98%, rgba(0, 0, 0, 0.875) 100%);
  color: #eee;
  text-shadow: 0 1px 0 #999;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-page-container .language-container .bed-languages-list li {
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  flex: 50%;
  overflow: hidden;
}
.about-page-container .language-container .bed-languages-list span {
  font-size: 0.8em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.about-page-container .font-awesome-icon {
  color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  padding: 10px;
}
@media (max-width: 590px) {
  .about-page-container .font-awesome-icon {
    height: 30px;
    width: 30px;
  }
}

.modal-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.911);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-container .dialog-box {
  display: flex;
  flex-direction: column;
  z-index: 1001;
  background: linear-gradient(180deg, rgb(18, 21, 26) 0%, rgba(16, 16, 24, 0.967) 100%);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(29, 59, 78, 0.071);
  height: auto;
  width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  min-width: 200px;
  max-width: 1000px;
  padding: 1em;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: none;
  position: absolute;
}
@media (max-width: 700px) {
  .modal-container .dialog-box {
    max-height: 700px;
    width: 95vw;
    height: -moz-max-content;
    height: max-content;
    font-size: 0.75em;
  }
}
.modal-container .dialog-box .close-button {
  margin-left: auto;
  margin-top: auto;
  min-width: 50px;
  min-height: 30px;
  width: 50px;
  height: 30px;
  color: rgb(255, 255, 255);
}
.modal-container .dialog-box .close-button:hover {
  color: rgb(78, 229, 131);
}
.modal-container .dialog-box .content {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.modal-container .dialog-box .content .image-container {
  display: flex;
  align-items: center;
  color: black;
  flex: 40%;
  padding: 0;
  min-width: 200px;
}
.modal-container .dialog-box .content .image-container .image {
  border-radius: 20px;
  box-sizing: border-box;
  display: inherit;
  margin: auto;
  padding: 0px;
  height: 80%;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
}
.modal-container .dialog-box .content .image-container .image.bstock {
  -o-object-position: top left;
     object-position: top left;
}
@media (max-width: 590px) {
  .modal-container .dialog-box .content .image-container .image {
    max-height: 200px;
    max-width: 200px;
  }
}
.modal-container .dialog-box .content .description-container {
  box-sizing: border-box;
  padding: 10px;
  color: rgb(239, 240, 255);
  flex: 60%;
  width: 100%;
}
.modal-container .dialog-box .content .description-container h1 {
  font-size: 1.2em;
  text-align: center;
  padding: 3px;
  color: rgb(254, 254, 254);
  text-shadow: 0px 8px 4px rgba(2, 2, 2, 0.459);
}
.modal-container .dialog-box .content .description-container .stack-container {
  box-sizing: border-box;
  font-size: 1em;
  display: flex;
  text-align: left;
  flex-direction: column;
}
.modal-container .dialog-box .content .description-container .stack-container .title {
  text-align: center;
  color: rgb(204, 205, 255);
  padding: 10px 20px 5px 20px;
}
.modal-container .dialog-box .content .description-container .stack-container .stack {
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
  display: flex;
  margin: auto;
  color: rgb(255, 255, 255);
}
.modal-container .dialog-box .content .description-container .stack-container .stack .icon {
  flex: 10%;
  width: 35px;
  height: 35px;
  padding: 4px;
}
@media (max-width: 590px) {
  .modal-container .dialog-box .content .description-container .stack-container .stack .icon {
    width: 20px;
    height: 20px;
  }
}
.modal-container .dialog-box .content .description-container .stack-container .stack .fed {
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  background-color: #5a6ad3;
}
.modal-container .dialog-box .content .description-container .stack-container .stack .bed {
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  background-color: rgb(81, 65, 205);
}
.modal-container .dialog-box .content .description-container .stack-container .hover-icon-box {
  width: 90%;
  height: 20px;
  margin: auto;
}
.modal-container .dialog-box .content .description-container .stack-container .hover-icon-box .icon-text {
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  background-color: rgb(9, 8, 12);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.modal-container .dialog-box .content .description-container .stack-container .hover-icon-box:hover .icon-text {
  opacity: 1;
}
.modal-container .dialog-box .content .description-container p {
  font-size: 1em;
  text-align: left;
  padding: 8px 10px 20px 20px;
}
.modal-container .dialog-box .content .description-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightblue;
}

.icon-container {
  width: 100%;
  color: white;
  font-size: 0.8em;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  height: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.icon-container span {
  padding: 0;
  width: 100%;
  text-align: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover .icon-container {
  background-color: rgba(56, 56, 126, 0.291);
}

.header-title {
  max-width: 900px;
  box-sizing: border-box;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-shadow: rgba(255, 204, 0, 0.098) 1px 0 10px;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header-title h1 {
  text-decoration: underline;
  line-height: 2em;
}
@media (max-width: 660px) {
  .header-title {
    margin: 10;
    font-size: 0.8em;
  }
  .header-title h1 {
    font-size: 1.3em;
    font-weight: bolder;
  }
}
.header-title.navigation {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-title.navigation .icon {
  height: 40px;
  width: 40px;
  color: white;
}
.header-title span {
  margin-top: 20px;
}
.header-title .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-title .container .title {
  margin-bottom: auto;
  text-align: center;
}

.disclaimer {
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.disclaimer a {
  text-decoration: none;
  color: rgb(84, 212, 255);
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cyber-video {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0.07;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mywork-page-container {
  background-color: rgba(49, 56, 149, 0.2549019608);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  margin: auto;
  color: rgb(255, 255, 255);
}
.mywork-page-container #vhs-img {
  opacity: 0;
  display: flex;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -9999;
  width: 100%;
  height: 100%;
  margin: auto;
}
.mywork-page-container h1 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: auto;
}
.mywork-page-container h3 {
  padding: 0;
  font-size: 0.5em;
  text-align: center;
}
.mywork-page-container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mywork-page-container .row {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
}
@media (max-width: 1000px) {
  .mywork-page-container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .mywork-page-container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mywork-page-container .project-thumbnail {
  position: relative;
}
.mywork-page-container .project-thumbnail .middle {
  position: relative;
}
.mywork-page-container .project-thumbnail .middle:hover .view-text-container {
  opacity: 1;
}
.mywork-page-container .project-thumbnail .view-text-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.mywork-page-container .project-thumbnail .cursor-text {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}
.mywork-page-container .project-column {
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  max-width: 500px;
  height: 300px;
  max-height: 98%;
  margin: auto;
  position: relative;
  border: 1px solid rgb(18, 28, 57);
}
.mywork-page-container .project-column:hover .pushable {
  filter: brightness(110%);
}
.mywork-page-container .project-column:hover .pushable .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.mywork-page-container .project-column:hover .pushable .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.mywork-page-container #tv-img {
  position: absolute;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  width: 100%;
  transition: 0.1s ease;
  backface-visibility: hidden;
  display: flex;
  margin: auto;
  top: 0;
}
.mywork-page-container .container .image {
  border-radius: 20px;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  width: 100%;
  transition: 0.1s ease;
  backface-visibility: hidden;
}
.mywork-page-container .middle {
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 5;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.mywork-page-container .middle:hover {
  box-shadow: 0px 0px 0px 5px rgba(56, 249, 191, 0.533);
}
.mywork-page-container .middle:hover #tv-img {
  border-radius: 20px;
  z-index: 3;
  opacity: 0.6;
}
.mywork-page-container .middle:hover #project-img {
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  border-radius: 20px;
}
.mywork-page-container .middle .project-content {
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 4;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 39, 39, 0);
  color: rgb(255, 255, 255);
  font-size: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
}
.mywork-page-container .middle .project-content p {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  background-color: rgba(13, 14, 22, 0.95);
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px rgb(58, 55, 55);
  height: 100px;
  min-height: 100px;
}
@media (max-width: 660px) {
  .mywork-page-container .middle .project-content p {
    padding: 10px;
    font-size: 0.8em;
  }
}
.mywork-page-container .middle .project-content span {
  box-sizing: border-box;
  font-size: 1.9em;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 10px;
}
@media (max-width: 660px) {
  .mywork-page-container .middle .project-content span {
    font-size: 2em;
    padding: 10px;
  }
}
.mywork-page-container #portfolio-container {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  padding: 30px;
  max-width: 1920px;
}
.mywork-page-container #desk-pic {
  z-index: -1;
  opacity: 0.9;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.portfolio {
  margin-bottom: auto;
  margin-top: auto;
  height: 100%;
  width: 100%;
}

.contact-page-container {
  box-sizing: border-box;
  background-color: rgba(16, 17, 38, 0.5333333333);
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}
.contact-page-container .contact-section {
  height: 100%;
  width: 100%;
  z-index: 2;
}
.contact-page-container #mountain-pic {
  z-index: 0;
  opacity: 0.02;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.contact-page-container .header-container {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-page-container .header-container .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.contact-page-container .header-container .icon {
  display: inherit;
  margin: auto;
  width: 50px;
  height: 50px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.contact-page-container .emoji {
  margin: 5px;
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-page-container a {
  color: rgb(0, 98, 255);
}
.contact-page-container a:hover {
  color: rgb(243, 255, 136);
}
.contact-page-container .error {
  font-size: 0.8em;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(255, 81, 81);
}
@media (max-width: 500px) {
  .contact-page-container .error {
    max-width: 300px;
  }
}
.contact-page-container .success {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  color: rgb(81, 255, 130);
}
.contact-page-container .contact-form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
@media (max-width: 480px) {
  .contact-page-container .contact-form {
    flex-direction: column;
  }
}
.contact-page-container .contact-form .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 500px;
  width: 100%;
  order: 1;
  flex: 50%;
}
@media (max-width: 518px) {
  .contact-page-container .contact-form .form-container {
    order: 2; /* default order */
  }
}
.contact-page-container .contact-form .form-container .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}
.contact-page-container .contact-form .form-container .input-group input {
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 80%;
  margin: 20px 0 20px 0;
  background-color: rgb(37, 39, 45);
  color: rgb(255, 255, 255);
}
.contact-page-container .contact-form .form-container .input-group input:focus {
  outline: none !important;
  border: 1px solid rgb(0, 191, 255);
  box-shadow: 0 0 5px #719ece;
}
.contact-page-container .contact-form .form-container .input-group textarea {
  border-radius: 2px;
  resize: none;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 300px;
  width: 80%;
  margin: 20px 0 20px 0;
  background-color: rgb(37, 39, 45);
  color: rgb(255, 255, 255);
}
.contact-page-container .contact-form .form-container .input-group textarea:focus {
  outline: none !important;
  border: 1px solid rgb(0, 191, 255);
  box-shadow: 0 0 5px #719ece;
}
.contact-page-container .contact-form .form-container .submit-button {
  font-size: 1em;
  background-color: #407ceb;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 4px;
}
.contact-page-container .contact-form .form-container .submit-button:hover {
  background-color: #4584fb;
}
.contact-page-container .contact-form .image-container {
  line-height: 2em;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  order: 2;
  flex: 40%;
}
@media (max-width: 596px) {
  .contact-page-container .contact-form .image-container {
    order: 1; /* default order */
  }
}
.contact-page-container .contact-form .image-container .image {
  display: inherit;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 100px;
  width: 100px;
  color: #ffffff;
}
.contact-page-container .contact-form .image-container .image #gmail-pic {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
  width: 100px;
}
.contact-page-container .contact-form .image-container .description {
  padding: 50px;
  background-color: rgba(3, 3, 3, 0.831372549);
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.481) 10px, rgba(0, 0, 0, 0.422) 10px, rgba(0, 0, 0, 0.422) 20px), linear-gradient(90deg, rgba(82, 107, 123, 0.481), rgba(40, 43, 55, 0.853) 50%, rgba(19, 19, 43, 0.478) 100%);
  border: solid 2px rgba(209, 209, 217, 0.831372549);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}
.contact-page-container .contact-form .image-container .description span {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.contact-page-container h1 {
  font-size: 1.2em;
  margin-bottom: auto;
  text-align: center;
}
.contact-page-container .title {
  text-align: center;
}
.footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 200px;
  font-size: 0.8em;
}
.footer span {
  color: white;
}

.pushable {
  font-family: "FSEX300";
  font-size: 0.6em;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline-offset: 4px;
  transition: filter 250ms;
}
.pushable.contact {
  margin: 20px;
}

.pushable.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, hsl(223, 74%, 58%) 0%, hsl(262, 61%, 52%) 8%, hsl(248, 52%, 36%) 92%, hsl(264, 42%, 13%) 100%);
}
.edge.blue {
  background: linear-gradient(to left, hsl(203, 100%, 76%) 0%, hsl(210, 64%, 45%) 8%, hsl(213, 51%, 36%) 92%, hsl(222, 60%, 20%) 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2em;
  color: white;
  background: hsl(232, 47%, 53%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
@media (max-width: 414px) {
  .front {
    font-size: 1.5em;
  }
}
.front.blue {
  background: hsl(210, 100%, 60%);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.Tooltip {
  font-family: "FSEX300";
  background: rgba(0, 0, 0, 0.85);
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 0.8em;
  max-width: 400px;
  z-index: 9999999999;
}/*# sourceMappingURL=styles.css.map */