@font-face {
  font-family: "dpcomic";
  src: url("../../public/fonts/dpcomic.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Terminal Grotesque";
  src: url("../../public/fonts/terminal-grotesque.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../public/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
}

.cursor {
  display: flex;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-weight: normal;
}

html {
  font-size: 0.9em;
  @media (max-width: 1024px) {
    font-size: 0.8em;
  }
  @media (max-width: 600px) {
    font-size: 0.77em;
  }
}

body {
  text-shadow: 0px 2px 2px rgb(0, 0, 0);
  margin: 0 auto;
  max-width: 100%;
  min-width: 370px;
  background: black;
}
.body,
.wrapper {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  touch-action: none;
  pointer-events: none;
}

.body {
  z-index: 1;
}

.wrapper {
  z-index: 2;
  overflow-x: hidden;
}

.clickable-screen {
  width: 100%;
  height: 100%;
  transition: filter 1000ms, box-shadow 1000ms, transform 1000ms; // Add transform to transition
  background: linear-gradient(
      217deg,
      rgb(37, 37, 49),
      rgba(6, 2, 2, 0.4) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(39, 44, 39, 0.652),
      rgba(13, 45, 13, 0.073) 70.71%
    ),
    linear-gradient(336deg, rgb(6, 6, 24), rgba(6, 6, 23, 0.252) 70.71%);
  &:hover {
    background: rgba(12, 101, 255, 0.404);
    filter: brightness(160%);
    box-shadow: rgba(0, 0, 0, 0.174) 0px 0px 8px,
      /* Initial shadow */ rgb(255, 255, 255) 0px 0px 4px; /* Expanded shadow */
  }
}

.route-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
}

.monitor-content {
  // font-size: 1.5em;
  .monitor-nav {
    box-sizing: border-box;
    padding: 0;
    z-index: 9999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background-color: none;
    // min-width: 370px;
    height: 60px;
    // border-radius: 10px;
    max-width: 800px;
    width: 100%;
  }
  button {
    cursor: pointer;
  }
  .monitor-nav-btn {
    &.active {
      color: rgb(251, 251, 143);
      background: linear-gradient(
          217deg,
          rgb(71, 65, 65),
          rgba(46, 38, 38, 0.709) 70.71%
        ),
        linear-gradient(127deg, rgb(4, 8, 4), rgba(13, 45, 13, 0.073) 70.71%),
        linear-gradient(336deg, rgba(6, 6, 24, 0.946), rgb(6, 6, 23) 70.71%);
      filter: brightness(130%);
    }
    @media (max-width: 450px) {
      font-size: 0.8em;
      max-width: 70px;
    }
    box-sizing: border-box;
    margin: 3px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 0.9em;
    justify-content: center;
    height: 55px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    color: white;
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.431);
    transition: filter 250ms, box-shadow 250ms, transform 250ms; // Add transform to transition
    background: linear-gradient(217deg, rgb(24, 24, 32), rgb(6, 2, 2) 70.71%),
      linear-gradient(127deg, rgba(39, 44, 39, 0.799), rgb(13, 45, 13) 70.71%),
      linear-gradient(336deg, rgb(6, 6, 24), rgba(6, 6, 23, 0.252) 70.71%);
    box-shadow: rgba(0, 0, 0, 0.247) 0px 0px 10px,
      rgba(17, 16, 41, 0.352) 0px 0px 14px;
    &:hover {
      svg {
        transition: transform 0.5s ease;
      }

      color: rgb(251, 252, 216);
      background: linear-gradient(
          217deg,
          rgb(71, 65, 65),
          rgba(46, 38, 38, 0.709) 70.71%
        ),
        linear-gradient(127deg, rgb(4, 8, 4), rgba(13, 45, 13, 0.073) 70.71%),
        linear-gradient(336deg, rgba(6, 6, 24, 0.946), rgb(6, 6, 23) 70.71%);
      filter: brightness(130%);
      box-shadow: rgba(255, 255, 255, 0.904) 0px 0px 2px,
        /* Initial shadow */ rgba(35, 26, 26, 0.132) 0px 0px 4px; /* Expanded shadow */
    }
    &:active {
      color: rgb(251, 251, 143);
      background: linear-gradient(
          217deg,
          rgb(34, 27, 27),
          rgba(46, 38, 38, 0.709) 70.71%
        ),
        linear-gradient(127deg, rgb(4, 8, 4), rgba(13, 45, 13, 0.073) 70.71%),
        linear-gradient(336deg, rgba(6, 6, 24, 0.946), rgb(6, 6, 23) 70.71%);
      filter: brightness(130%);
    }

    .icon {
      height: 30px;
      width: 30px;
      padding: 0px;
      color: white;
      svg {
        fill: white; // Set the fill color of the SVG to white
        filter: invert(100%); // Invert the colors of the SVG, making it white
      }
    }
  }
}
#back-to-scene-btn {
  background-color: rgb(255, 255, 255);
}

.camera-nav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 15px;
  position: relative;
  border-radius: 12px;
  color: white;
  text-align: center;
  background: linear-gradient(
    to left,
    hsla(220, 17%, 7%, 0.916) 0%,
    /* Light Blue */ hsla(240, 17%, 8%, 0.731) 30%,
    /* Blue-Purple */ hsla(278, 27%, 8%, 0.821) 70%,
    /* Deep Purple */ hsla(300, 20%, 6%, 0.833) 100% /* Dark Pink */
  );
  .icon {
    box-sizing: border-box;
    padding: 15px;
    font-size: 30px;
  }

  &:hover {
    color: black;
    background: rgba(255, 255, 255, 0.699);
  }
}

// * NavBar
.nav-bar {
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    hsl(240, 5%, 4%) 0%,
    hsl(256, 13%, 17%) 8%,
    hsl(0, 0%, 5%) 92%,
    hsl(226, 28%, 9%) 100%
  );
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  min-width: 370px;
  height: 80px;
}
.nav-bar-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  align-items: center;
  height: 100%;
}
/* Links inside the navbar */
.nav-bar a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  transition: filter 250ms, box-shadow 250ms, transform 250ms; // Add transform to transition
  background: linear-gradient(
      217deg,
      rgb(37, 37, 49),
      rgba(6, 2, 2, 0.4) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(39, 44, 39, 0.652),
      rgba(13, 45, 13, 0.073) 70.71%
    ),
    linear-gradient(336deg, rgb(6, 6, 24), rgba(6, 6, 23, 0.252) 70.71%);
  filter: brightness(110%);
  box-shadow: rgba(0, 0, 0, 0.923) 0px 0px 10px,
    rgba(17, 16, 41, 0.352) 0px 0px 14px;
  color: #ffffff;
  border-radius: 5px;
  // cursor: pointer;
}

.content-container {
  width: 100%;
  height: 100%;
}
img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// * Navigation Menu
#about-me-link {
  // font-family: "dpcomic";
  @media (max-width: 500px) {
    font-size: 0.8em;
  }
}
.nav-menu {
  font-size: 1.3em;
  .nav-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto auto auto;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
  }
  z-index: 0;
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    align-items: center;
  }
  li {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  a {
    color: inherit;
    text-decoration: none;
    text-align: center;
  }
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
  min-width: 370px;
  height: 100%;
  max-width: 100%;

  // Full Name
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-family: "Terminal Grotesque";
    z-index: 0;
    text-align: left;
    position: relative;
    width: 100%;
    // Title Name
    .name {
      // animation: textTransition 10s ease infinite;
      font-size: 1.8em;
      color: #ffffff;
      background: #000000;
      text-shadow: #535d8f 0px 0px 1px, #772a2a 0px 0px 2px, #000000 0px 0px 3px,
        #51f416 0px 0px 3px, #0946ff 0px 0px 3px, #2d3eff 0px 0px 3px,
        #4c2dff 0px 0px 3px, #4c2dff 0px 0px 3px;
      -webkit-background-clip: text;
      background-clip: text;
      // color: transparent; // Makes the text color transparent
      text-align: center; // Center the text
      z-index: 2; // Ensure it's above other elements
    }
    // h1 Style with Animation
    h1 {
      // font-family: "Terminal Grotesque";
      letter-spacing: 4px;
      font-weight: 1000;
      text-shadow: rgba(255, 255, 255, 0) 2px 4px 0px;

      // Apply gradient color
      background: linear-gradient(
        45deg,
        #c0c0c0,
        #ffffff,
        #f1f1f1
      ); // Yellow gradient
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; // Makes the text color transparent
      display: inline-block; // Necessary for background-clip
    }
    // Occupation Name
    .occupation-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      width: 100%;

      .top {
        order: 1; // Place the full name at the top
      }

      .bottom {
        order: 2; // Place the title sections below the full name
        display: flex;
        flex-direction: row;
      }

      @media (max-height: 896px) {
        // top: 200px;
      }
      @media (max-width: 896px) {
        font-size: 1em;
        .icon {
          height: 100px;
        }
      }
      @media (max-width: 530px) {
        font-size: 0.7em;
        max-width: 350px;
      }
      max-width: 500px;
      border-radius: 5px;
      padding: 5px;
      background: linear-gradient(
          217deg,
          rgba(18, 3, 3, 0.668),
          rgba(6, 2, 2, 0.709) 70.71%
        ),
        linear-gradient(127deg, rgb(2, 11, 2), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(9, 9, 29, 0.946), rgba(9, 9, 75, 0) 70.71%);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.512);
      &:after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        z-index: -1;
        background: linear-gradient(45deg, #6b75ff, #ffffff, #426afc);
        background-size: 300% 300%;
        border-radius: 5px; // Slightly larger than the h1 to create a border effect
        animation: moveGradient 6s ease infinite;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }

      @keyframes moveGradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      // Occupation Title
      .title {
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.613) 2px 4px 0px;
        &.sect1 {
          padding: 5px;
          display: flex;
          align-items: center;
          #cog-img {
            object-fit: contain;
            height: 40px;
            width: 40px;
            padding: 5px;
          }
          #code-pixel-img {
            object-fit: contain;
            height: 40px;
            width: 40px;
            padding: 5px;
            margin-right: 5px;
          }
        }
        &.sect2 {
          padding: 5px;
          display: flex;
          align-items: center;
          #music-note-img {
            object-fit: contain;
            height: 40px;
            width: 40px;
            padding: 5px;
          }
        }
      }
      #front-end {
        color: rgb(127, 224, 43);
      }
      #amper {
        color: rgb(255, 79, 56);
      }
      #artist {
        color: rgb(235, 44, 44);
      }
    }
  }
  .nav-selections {
    box-sizing: border-box;
    li {
      margin: 0px auto 15px auto;
      max-width: 350px;
      &:hover {
        color: rgb(244, 236, 117);
        transition: color 0.3s ease;
      }
    }
    align-items: center;
    justify-content: center;
    text-align: left;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
  .nav-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: max-content;
    .nav-selections-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .nav-background {
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    display: flex;
    text-align: center;
  }
}
#start-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  max-width: 510px;
  box-shadow: rgba(92, 92, 255, 0.25) 0px 30px 60px -12px inset,
    rgba(80, 12, 12, 0.3) 0px 18px 36px -18px inset;
  border-radius: 50px;
  transition: filter 250ms, box-shadow 250ms, transform 250ms; // Apply transitions
  font-size: 1.2em;
  &:hover {
    transform: scale(1.05); // Increase the size of the link

    #hand-pointer {
      transform: translateX(-8px);
    }
  }
}

#hand-pointer {
  transition: transform 250ms; // Ensure smooth transition for the icon
}
//Download Button
.download-resume-wrapper {
  // font-family: "dpcomic";
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 120px;
  width: 100%;
}
//Toggle container
.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.toggle-container {
  position: relative;
  font-size: 0.7em;
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  font-size: 1.2em;
  .social-svg {
    &:hover {
      background-color: rgba(67, 58, 99, 0.437);
      transition: background-color 0.3s ease;
    }
  }
  @media (max-width: 530px) {
    font-size: 0.9em;
  }
}
.title-divider {
  margin: auto;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 1px;
}
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
// Home Page
.home-page-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}
// About Page
#about-section {
  z-index: 999;
  box-sizing: border-box;
  position: relative;
}

@keyframes mymove {
  50% {
    border-color: rgb(12, 11, 13);
  }
}

#city-pic-overlay {
  z-index: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  left: 0;
  height: 100%;
  width: 100%;
}
section {
  width: 100%;
  height: 100%;
}

#space-pic {
  z-index: -99;
  opacity: 0.1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: max-content;
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

#background-pic {
  z-index: 0;
  opacity: 0.5;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about-description-list {
  li {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem; // Adjusts spacing between list items
    min-width: 200px; /* Adjust as needed */
    max-width: min-content; /* Adjust as needed */
  }

  .animated-text {
    /* Remove or comment out white-space: nowrap; */
    /* white-space: nowrap; */
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 0.05em;
    animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  .author {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    margin-top: 20px;
    text-align: right;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 2s;
    animation-delay: 0.5s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    font-style: italic; /* optional styling */
  }

  .mission-statement {
    @media (max-width: 600px) {
      font-size: 0.9em;
    }
    background: radial-gradient(
      circle,
      rgb(18, 19, 21) 0%,
      rgba(0, 0, 0, 0) 98%,
      rgba(0, 0, 0, 0) 100%
    );
    margin-top: 0px;
    // margin-bottom: 2rem; // Adjusts spacing between list items
    position: relative;
    padding: 35px;
    /* Add max-width or width as needed */
    max-width: 600px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 15px;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .highlight-degree,
  .highlight-tech,
  .highlight-art,
  .highlight-degree {
    color: rgb(196, 119, 255);
  }
  .highlight-tech {
    color: rgb(60, 148, 255);
  }
  .highlight-art {
    color: rgb(165, 165, 255);
  }
}
.invitation {
  color: rgb(172, 255, 163);
}

.about-page-container {
  background: linear-gradient(#000000e3, #000000);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: min-content;
  border-radius: 5px;
  @media (max-width: 800px) {
    width: 100%;
  }
  color: rgb(255, 255, 255);
  h1 {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
  }
  h2 {
    margin-bottom: 5px;
    text-align: center;
  }
  a {
    padding: 5px;
    font-size: 1em;
    color: rgb(0, 98, 255);
    &:hover {
      color: rgb(243, 255, 136);
    }
  }
  .about-me-section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    .about-icons-column {
      display: flex;
      position: relative;
      text-align: center;
      flex: 50%;
      width: 100%;
      height: 200px;
      min-width: 250px;
      max-width: 100%;
      min-height: 210px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      .laptop-icon-container {
        display: flex;
        position: relative;
        margin: auto;
        justify-content: center;
        width: 100%;
        height: 100%;
        #container-text {
          z-index: 5;
          display: flex;
          width: 90%;
          height: 100%;
          position: absolute;
          font-family: "JetBrains Mono";
          font-size: 1em;
          box-sizing: border-box;
          border-radius: 20px;
          padding: 1rem;
          align-items: center;
          justify-content: center;
          @media (max-width: 562px) {
            font-size: 0.7em;
          }
          span {
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 20px;
            text-align: center;
            margin-bottom: auto;
            bottom: 0;
            z-index: 4;
          }
          #text1 {
            color: rgb(100, 216, 255);
          }
          #text2 {
            color: rgb(250, 83, 83);
          }
          #text3 {
            color: rgb(175, 57, 180);
          }
          #braces {
            color: rgb(75, 190, 244);
          }
          #return {
            color: rgb(244, 75, 114);
          }
          #dotlog {
            color: rgb(246, 254, 96);
          }
          #text4 {
            color: rgb(189, 123, 255);
          }
          #pleased {
            color: rgb(190, 255, 111);
          }
          #macbook-img {
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            position: absolute;
            height: 170px;
            width: 200px;
            object-fit: contain;
          }
        }
      }
    }
    .rokit-span {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 0.8em;
    }
  }
  .rokit-container {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: repeating-conic-gradient(
        rgba(49, 60, 93, 0.481) 0% 2%,
        rgba(8, 12, 22, 0.422) 2% 4%
      ),
      linear-gradient(
        90deg,
        rgba(25, 46, 103, 0.81),
        rgba(129, 129, 248, 0.625) 50%,
        rgba(63, 84, 241, 0.478) 100%
      );
    width: 100%;
    max-height: 250px;
    margin: auto;
    margin-top: 100px;
  }
  .rokit-container-wrapper {
    display: flex;
    flex-direction: column;
  }
  .rokit-container-wrapper.top {
    flex: 50%;
    box-sizing: border-box;
    padding: 15px;
  }
  .rokit-container-wrapper.bottom {
    flex: 50%;
    flex-direction: row;
  }

  .rokit-container img {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    padding: 8px;
    object-fit: contain;
    transition: transform 0.5s ease; // Add transition for the transform

    &:hover {
      transform: rotate(15deg);
    }
    @media (max-width: 1024px) {
      height: 80px;
      width: 80px;
    }

    @media (max-width: 562px) {
      height: 50px;
      width: 50px;
    }
  }
  // For language rotating card
  .no-pointer-events {
    pointer-events: none;
  }
  // languages icons
  .language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    box-sizing: border-box;
    width: 95%;
    padding: 1rem 1rem;
    margin: auto;
    display: flex;
    span {
      padding: 1px;
    }
    @media (max-width: 562px) {
      font-size: 0.6em;
      pointer-events: none;
    }
    // Skills
    .fed-languages-list {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1.5rem 1.5rem;
      border: 1px solid rgba(158, 156, 199, 0.686);
      background: radial-gradient(
        circle,
        rgba(7, 10, 23, 0.523) 0%,
        rgba(6, 3, 11, 0.76) 98%,
        rgba(0, 0, 0, 0.875) 100%
      );
      color: #eee;
      text-shadow: 0 1px 0 #000000;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: center;
      height: 100%;
      li {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
        flex: 20%;
        overflow: hidden;
      }
      span {
        font-size: 0.8em;
        text-align: center;
      }
    }
    .bed-languages-list {
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 2rem;
      border: 1px solid rgba(158, 156, 199, 0.686);
      background: radial-gradient(
        circle,
        rgba(23, 25, 34, 0.523) 0%,
        rgba(10, 8, 13, 0.349) 98%,
        rgba(0, 0, 0, 0.875) 100%
      );
      color: #eee;
      text-shadow: 0 1px 0 #999;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      li {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
        flex: 50%;
        overflow: hidden;
      }
      span {
        font-size: 0.8em;
        text-align: center;
        color: rgb(255, 255, 255);
      }
    }
  }
  .font-awesome-icon {
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    padding: 10px;
    @media (max-width: 590px) {
      height: 30px;
      width: 30px;
    }
  }
}
.about-me-section.top {
  width: 100%;
}
.about-me-section.left {
  flex: 50%;
  font-size: 1em;
  text-align: left;
  ul {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px;
    max-width: 1200px;
    width: 90%;
  }
  li {
    max-width: 100%;
    list-style: none;
  }
  .about-description-list {
    #hello-emote-container {
      box-sizing: border-box;
      padding: 1rem;
      display: flex;
      flex-direction: row;
    }
    .img {
      box-sizing: border-box;
      height: 100px;
      width: 100px;
      object-fit: contain;
      @media (max-width: 562px) {
        height: 70px;
        width: 70px;
      }
      &.glow {
        filter: drop-shadow(0 0 2px #ffffff18);
      }
    }
  }
}
.about-me-section.right {
  flex: 50%;
}
.about-me-section.left,
.about-me-section.right {
  box-shadow: 0px 0px 10px rgba(29, 59, 78, 0.06);
  flex: 1;
  display: flex;
  flex-direction: row;

  .languages-wrapper,
  .skills-contact {
    flex: 1;
    width: 50%;
  }
}
.about-me-section-wrapper {
  background: linear-gradient(
      217deg,
      rgba(8, 3, 18, 0.041),
      rgba(6, 2, 2, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(2, 11, 2, 0), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(9, 9, 29, 0), rgba(9, 9, 75, 0) 70.71%);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  width: 100%;
  // min-width: min-content;
  max-width: 1920px;
  align-items: start; /* Align the content to the start of each cell */

  @media (max-width: 1280px) {
    /* When the viewport width is 1200px or less */
    grid-template-columns: 1fr; /* Change to one column */
  }
}

// Modal
.modal-container {
  overflow-y: auto; // Enable vertical scrolling
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .dialog-box {
    @media (max-width: 600px) {
      width: 100%;
      padding: 0.5em;
      font-size: 1em;
      max-height: 100%; // Increase max height for mobile
      margin-top: 0px;
    }
    @media (max-height: 600px) {
      width: 100%;
      max-height: 500px;
      padding: 0.5em;
      font-size: 1em;
      max-height: 80%; // Increase max height for mobile
      margin-top: 0px;
    }

    display: flex;
    flex-direction: column;
    z-index: 1001;
    background: linear-gradient(
      180deg,
      rgb(18, 21, 26) 0%,
      rgba(16, 16, 24, 0.967) 100%
    );
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.321);
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    min-width: 200px;
    max-width: 1000px;
    padding: 1em;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: none;
    position: absolute;
    @media (max-width: 1024px) {
      width: 95vw;
      height: max-content;
      font-size: 1em;
    }
    .close-button {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      color: rgb(255, 255, 255);
      border: 1px solid black;
      background-color: black;
      border-radius: 3px;
      z-index: 9999;
      &:hover {
        color: rgb(78, 229, 131);
      }
    }
    .content {
      margin-top: 50px;
      @media (max-width: 1024px) {
        // Adjust this threshold as needed
        flex-direction: column;

        .image-container,
        .description-container {
          flex: 0 0 100%; // Takes full width of the container
        }
      }

      overflow: auto; // Enable vertical scrolling
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      @media (max-width: 1024px) {
        flex-direction: row;
        .image-container {
          order: -1; /* Move the image-container to the top */
          width: 100%;
          padding-bottom: 20px;

          .image {
            width: 100%; /* Adjust image width */
            max-height: none; /* Remove max height restriction */
            height: auto; /* Adjust height automatically */
          }
        }
      }
      .image-container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: black;
        flex: 50%;
        padding: 20px;
        min-width: 200px;
        .image {
          // border-radius: 20px;
          box-sizing: border-box;
          display: inherit;
          margin: auto;
          padding: 0px;
          height: 80%;
          width: 100%;
          object-fit: cover;
          object-position: center top;
          box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
          &.bstock {
            object-position: top left;
          }
          @media (max-width: 460px) {
            max-height: 200px;
            max-width: 200px;
            margin-top: 50px;
          }
        }
      }
      .description-container {
        box-sizing: border-box;
        padding-left: 30px;
        color: rgb(239, 240, 255);
        flex: 50%;
        width: 100%;
        @media (max-width: 768px) {
          margin-bottom: 100px;
          padding: 0;
        }
        // Title
        h1 {
          font-size: 1.2em;
          text-align: center;
          padding: 3px;
          color: rgb(254, 254, 254);
          text-shadow: 0px 8px 4px rgba(2, 2, 2, 0.459);
        }
        .stack-container {
          box-sizing: border-box;
          font-size: 1.3em;
          display: flex;
          text-align: left;
          flex-direction: column;
          .title {
            text-align: center;
            color: rgb(204, 205, 255);
            padding: 10px 20px 5px 20px;
          }
          .stack {
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;
            display: flex;
            margin: auto;
            color: rgb(255, 255, 255);
            .icon {
              padding: 4px;
              @media (max-width: 590px) {
                width: 20px;
                height: 20px;
              }
            }
            .fed {
              border-radius: 10px 0 0 10px;
              box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              padding: 8px;
              background-color: #5a6ad3;
            }
            .bed {
              border-radius: 0 10px 10px 0;
              box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
              padding: 8px;
              background-color: rgb(81, 65, 205);
            }
          }
          .hover-icon-box {
            width: 90%;
            height: 20px;
            margin: auto;
            // z-index: 9999;
            .icon-text {
              text-align: center;
              display: block;
              margin: auto;
              position: relative;
              background-color: rgb(9, 8, 12);
              color: white;
              padding: 4px 8px;
              border-radius: 4px;
              opacity: 0;
              pointer-events: none;
              transition: opacity 0.3s ease-in-out;
            }
            &:hover .icon-text {
              opacity: 1;
            }
          }
        }
        p {
          font-size: 0.9em;
          text-align: left;
          padding: 10px 10px 30px 10px;
          line-height: 1.8em;
        }
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: lightblue;
        }
      }
    }
  }
}
// Header Container
.icon-container {
  width: 200px;
  color: white;
  font-size: 0.7em;
  font-weight: normal;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 15px;
  height: 100%;
  min-width: max-content;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  cursor: pointer;
  span {
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  @media (max-width: 660px) {
    width: 100px;
  }
}
.icon-container .icon {
  font-size: 1.4em;
}
.link {
  text-decoration: none;
  color: white;
  &:hover {
    .icon-container {
      transition: filter 250ms, box-shadow 250ms, transform 250ms; // Add transform to transition
      background: linear-gradient(
          217deg,
          rgb(37, 37, 49),
          rgba(6, 2, 2, 0.4) 70.71%
        ),
        linear-gradient(
          127deg,
          rgba(39, 44, 39, 0.652),
          rgba(13, 45, 13, 0.073) 70.71%
        ),
        linear-gradient(336deg, rgb(6, 6, 24), rgba(6, 6, 23, 0.252) 70.71%);
      filter: brightness(110%);
      box-shadow: rgba(0, 0, 0, 0.923) 0px 0px 10px,
        rgba(17, 16, 41, 0.352) 0px 0px 14px;

      .icon {
        transition: filter 250ms, box-shadow 250ms, transform 250ms;
        transform: scale(1.2); // Increase the size of the icon
      }
    }
  }
}
.link:hover {
  .icon-container {
    transition: filter 250ms, box-shadow 250ms; /* Add box-shadow transition */
    background: linear-gradient(
        217deg,
        rgb(37, 37, 49),
        rgba(6, 2, 2, 0.4) 70.71%
      ),
      linear-gradient(
        127deg,
        rgba(39, 44, 39, 0.652),
        rgba(13, 45, 13, 0.073) 70.71%
      ),
      linear-gradient(336deg, rgb(6, 6, 24), rgba(6, 6, 23, 0.252) 70.71%);
    filter: brightness(110%);
    box-shadow: rgba(0, 0, 0, 0.923) 0px 0px 10px,
      /* Initial shadow */ rgba(17, 16, 41, 0.352) 0px 0px 14px; /* Expanded shadow */
  }
}
.end-navigation-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  height: 60px;
  width: 100%;
}
.end-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: auto;
  margin-top: auto;
  text-decoration: none;
  border-radius: 100px;
  min-height: 60px;
  flex-direction: column;
  cursor: pointer;
  // font-family: "dpcomic";
  position: relative;
  border: none;
  background: transparent;
  transition: filter 250ms;
  span {
    padding: 0;
    text-align: center;
    align-items: center;
  }
  @media (max-width: 660px) {
    margin: auto;
  }
  transition: filter 250ms, box-shadow 250ms; /* Add box-shadow transition */
}
.end-navigation {
  color: white;
  box-sizing: border-box;
  padding: 18px;
}
.end-navigation .icon {
  font-size: 1.4em;
  margin-right: 5px;
}
.end-navigation-link {
  &:hover {
    svg {
      transition: transform 0.5s ease;
      transform: rotate(-30deg);
    }
  }
}
.end-navigation-link:hover {
  background: linear-gradient(
      217deg,
      rgba(18, 3, 3, 0.298),
      rgba(6, 2, 2, 0.709) 70.71%
    ),
    linear-gradient(127deg, rgb(4, 8, 4), rgba(13, 45, 13, 0.073) 70.71%),
    linear-gradient(336deg, rgba(6, 6, 24, 0.946), rgba(6, 6, 23, 0.252) 70.71%);
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 0px 0px 8px,
    /* Initial shadow */ rgba(255, 255, 255, 0.587) 0px 0px 4px; /* Expanded shadow */
}

.languages-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.header-title {
  &.languages {
    background: none;
  }
  @media (max-width: 600px) {
    font-size: 1em;
    max-height: 110px;

    img {
      height: 30px;
      width: 30px;
      color: white;
    }
  }
  position: relative;
  z-index: 1;
  height: 140px;
  background: rgb(0, 0, 0);
  background-repeat: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.395);
  width: 100%;
  box-sizing: border-box;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
  .content-container {
    max-width: 900px;
    min-width: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin: auto;

    &.navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon {
        height: 40px;
        width: 40px;
        color: white;
      }
    }
  }

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-shadow: rgba(0, 0, 0, 0.575) 0px 3px 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  span {
    margin-top: 10px;
  }
  .container {
    .title {
      margin-bottom: auto;
      text-align: center;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.header-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.disclaimer {
  box-sizing: border-box;
  font-size: 0.9em;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #bcecfb;
  text-align: center;
  a {
    text-decoration: underline;
    color: rgb(105, 255, 18);
  }
}
.disclaimer-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills-contact {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills-contact-p {
  /* Linear gradient stripes here */
  box-sizing: border-box;
  padding: 30px;
  background-image: repeating-linear-gradient(
      90deg,
      #3a465f,
      #22375f 2px,
      #17191d 5px,
      #172132 10px
    ),
    repeating-linear-gradient(
      90deg,
      #3a465f,
      #22375f 2px,
      #17191d 5px,
      #172132 10px
    );
  background-size: 100% 2px, 100% 2px;
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  margin-top: 50px;
  margin-bottom: 50px;
}

// My Work Page
.mywork-page-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 100%;
  margin: auto;
  color: rgb(255, 255, 255);
  h1 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: auto;
  }
  h3 {
    padding: 0;
    font-size: 0.5em;
    text-align: center;
  }
  // Description Container
  .description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 5px;
    box-sizing: border-box;

    @media (max-width: 660px) {
      // max-width: 350px;
    }
  }

  .description-background {
    background-image: url("../../public/images/project.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    opacity: 0.4;

    @media (max-width: 660px) {
      // height: 330px;
    }
  }

  #jelly-description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 1;
    @media (max-width: 500px) {
      height: 150px;
    }
  }

  .myprojects-header {
    // font-family: "Terminal Grotesque";
    font-weight: 500;
    margin-bottom: auto;
    letter-spacing: 1px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.323);
    color: #ffffff;
    background: linear-gradient(rgb(41, 90, 125), #171a43);
    text-align: center;
    width: 100%;
    max-width: 450px;

    span {
      padding: 5px;
      color: rgb(161, 201, 254);
      font-size: 0.8em;
      display: block;
    }

    @media (max-width: 660px) {
      max-width: 300px;
    }
  }
  // PROJECT ROW
  .row {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      // background-image: url("../../public/images/project.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
      opacity: 0.5;
      max-width: 1000px;
      z-index: -1;
      @media (max-width: 660px) {
        grid-template-columns: repeat(2, 1fr);
        background-image: none;
      }
    }
  }
  // PROJECT COLUMN
  .project-thumbnail {
    position: relative;

    .middle {
      position: relative;

      &:hover .view-text-container {
        opacity: 1;
      }
    }
    .view-text-container {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease;
      box-sizing: border-box;
      padding: 10px;
      background-color: black;
      opacity: 0;
      color: white;
    }

    .cursor-text {
      position: fixed;
      pointer-events: none;
      z-index: 9999;
    }
  }

  .project-column {
    cursor: pointer;
    @media (max-width: 660px) {
      height: 200px;
    }
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    max-width: 400px;
    height: 300px;
    max-height: 95%;
    margin: auto;
    position: relative;
    border: 1px solid rgb(18, 28, 57);
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.78);
    .clickToViewBtn {
      cursor: pointer;
      position: relative;
      display: flex;
      margin: auto;
      align-items: center;
      font-size: 0.8em;
      justify-content: center;
      padding: 0;
      height: 200px;
      width: 100%;
      @media (max-width: 600px) {
        font-size: 0.7em;
      }
      background: linear-gradient(#e6646400, #06060f);
      border-radius: 5px;
      .pushable {
        .front,
        .edge,
        .shadow {
          border-radius: 12px;
        }
      }
    }
    transition: transform 0.5s ease;
    &:hover {
      transform: rotate(3deg);
      .pushable {
        filter: brightness(110%);
        box-shadow: rgba(255, 255, 255, 0.174) 2px 2px 10px;

        border-radius: 12px;
        .front {
          transform: translateY(-6px);
          transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          background: linear-gradient(
            to left,
            hsl(210, 8%, 10%) 0%,
            /* Light Blue */ hsl(240, 37%, 27%) 30%,
            /* Blue-Purple */ hsl(284, 37%, 14%) 70%,
            /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
          );
        }

        .shadow {
          transform: translateY(4px);
          transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        }
      }
    }
  }

  .container .image {
    border-radius: 5px;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    transition: 0.1s ease;
    backface-visibility: hidden;
  }
  .middle {
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 5;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    position: relative;
    text-align: center;
    &:hover {
      #project-img {
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 1;
        border-radius: 5px;
      }
      box-shadow: 0px 0px 0px 5px rgba(65, 249, 71, 0.861);
    }
    .project-content {
      border-radius: 5px;
      box-sizing: border-box;
      z-index: 4;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
      background: rgba(55, 62, 71, 0.427);
      color: rgb(255, 255, 255);
      font-size: inherit;
      width: 100%;
      height: 100%;
      text-align: center;
      p {
        display: flex;
        text-align: center;
        box-sizing: border-box;
        font-size: 1em;
        font-weight: normal;
        background: linear-gradient(
          to left,
          hsl(0, 35%, 7%) 0%,
          /* Light Blue */ hsl(240, 22%, 10%) 30%,
          /* Blue-Purple */ hsl(300, 17%, 2%) 70%,
          /* Deep Purple */ hsl(0, 3%, 8%) 100% /* Dark Pink */
        );
        padding: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: solid 1px rgb(58, 55, 55);
        height: 100px;
        min-height: 100px;
        @media (max-width: 660px) {
          padding: 10px;
          font-size: 0.8em;
        }
      }
      span {
        box-sizing: border-box;
        font-size: 1.9em;
        padding: 20px;
        color: rgb(255, 255, 255);
        @media (max-width: 660px) {
          font-size: 2em;
          padding: 10px;
        }
        font-weight: 500;
        border-radius: 5px;
      }
    }
  }
  #portfolio-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    max-width: max-content;
    width: 100%;
  }
}
.portfolio {
  margin-bottom: auto;
  margin-top: auto;
  height: max-content;
  width: 100%;
  min-height: 100vh;
}
// Contact Page
.contact-page-container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  .contact-section {
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  #contact-header {
    display: flex;
    font-size: 1.5em;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // Contact text
    .text {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
  .image-container,
  .form-container {
    flex: 1; // Adjust as needed to manage width
    // Other styles...
  }

  .content-wrapper {
    display: flex;
    flex-direction: row; // Place children side by side
    justify-content: space-between; // Adjust as needed
    width: 100%; // Adjust as needed
    margin-top: 10px;
    padding: 10px;
    @media (max-width: 768px) {
      // Adjust breakpoint as needed
      flex-direction: column;
    }
    background: none;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 30px;
  }
  // Header
  .header-container {
    padding-bottom: 30px;
    width: 200px;
    margin: auto;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-container-contact-form {
    padding-bottom: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .emoji {
    margin: 5px;
    height: 35px;
    width: 35px;
    object-fit: contain;
  }
  a {
    color: rgb(0, 98, 255);
    &:hover {
      color: rgb(243, 255, 136);
    }
  }
  // Contact Form
  .error {
    font-size: 0.8em;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 0;
    margin: 0;
    color: rgb(255, 81, 81);
    @media (max-width: 500px) {
      max-width: 300px;
    }
  }
  .success {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    color: rgb(81, 255, 130);
  }
  .contact-form {
    &.title {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      padding-bottom: 15px;
      color: rgb(238, 248, 255);
      box-shadow: rgba(46, 120, 240, 0.4) 0px 2px,
        rgba(49, 46, 240, 0.3) 0px 5px, rgba(104, 46, 240, 0.2) 0px 8px,
        rgba(59, 46, 240, 0.1) 0px 10px, rgba(46, 104, 240, 0.05) 0px 12px;
      font-size: 1.4em;
      background: none;
    }
    background: linear-gradient(
        217deg,
        rgba(8, 3, 18, 0.148),
        rgba(6, 2, 2, 0.229) 70.71%
      ),
      linear-gradient(127deg, rgba(2, 11, 2, 0.253), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(9, 9, 29, 0.403), rgba(9, 9, 75, 0) 70.71%);
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; // Stack children vertically
    align-items: center; // Center align items

    max-width: 1200px;
    width: 100%;
    margin: auto;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      height: 100%;
      max-width: 100%;
      width: 100%;
      order: 1;
      flex: 50%;
      @media (max-width: 518px) {
        order: 2; /* default order */
      }
      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        input {
          border-radius: 2px;
          font-family: inherit;
          font-size: 1em;
          appearance: none;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          width: 80%;
          margin: 20px 0 20px 0;
          background-color: rgb(37, 39, 45);
          color: rgb(255, 255, 255);
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 191, 255);
            box-shadow: 0 0 5px #719ece;
          }
        }
        textarea {
          border-radius: 2px;
          resize: none;
          font-family: inherit;
          font-size: 1em;
          appearance: none;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 300px;
          width: 80%;
          margin: 20px 0 20px 0;
          background-color: rgb(37, 39, 45);
          color: rgb(255, 255, 255);
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 191, 255);
            box-shadow: 0 0 5px #719ece;
          }
        }
      }
      .submit-button {
        font-size: 1em;
        background-color: #407ceb;
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: #4584fb;
        }
      }
    }
    #contact-header {
      display: flex;
      width: 100%;
      margin-top: 30px;
    }
    .image-container {
      line-height: 2em;
      box-sizing: border-box;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      order: -1;
      flex: 50%;
      margin: auto;
      #collab-img {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        padding: 30px;
        margin-bottom: 20px;
      }
      .font-awesome-icon {
        color: rgb(255, 255, 255);
        height: 20px;
        width: 20px;
        padding: 10px;
        @media (max-width: 590px) {
          height: 30px;
          width: 30px;
        }
      }
      @media (max-width: 596px) {
        order: 1;
      }

      .image {
        @media (max-width: 518px) {
          padding-bottom: 15px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 100px;
        color: #ffffff;

        #gmail-pic {
          @media (max-width: 518px) {
            width: 50px;
          }
          object-fit: contain;
          width: 60px;
          height: auto;
          margin-bottom: 20px;
        }
      }
      .description {
        @media (max-width: 518px) {
          padding: 0;
        }
        box-sizing: border-box;
        width: 80%;
        padding: 18px;
        background: linear-gradient(
          217deg,
          rgba(14, 15, 50, 0.668),
          rgba(3, 8, 9, 0.709) 70.71%
        );
        border: solid 2px #d1d1d9d4;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgb(0, 0, 0);
        // font-family: "Terminal Grotesque";
        #email-link {
          font-weight: normal;
          text-shadow: none;
          font-size: 1.3em;
          color: rgb(95, 178, 255);
          &:hover {
            color: rgb(241, 248, 183);
          }
          @media (max-width: 518px) {
            font-size: 1.2em;
          }
        }
        span {
          display: flex;
          text-align: center;
          padding: 15px;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  h1 {
    font-size: 1.2em;
    margin-bottom: auto;
    text-align: center;
  }
  .title {
    text-align: center;
  }
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}
.contact-font-awesome-icon {
  color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  padding: 15px;
  @media (max-width: 590px) {
    height: 30px;
    width: 30px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  span {
    color: white;
  }
  .designed-by {
    font-weight: bold;
    color: #ffffff;
  }
  background: none;
  pointer-events: none;
  font-size: 0.8em;
}

// Button
.pushable {
  cursor: pointer;
  font-family: "JetBrains Mono";
  font-size: 0.6em;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline-offset: 4px;
  transition: filter 250ms;
  &.contact {
    margin: 20px;
  }
}
.pushable.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(211, 27%, 34%) 0%,
    /* Light Blue */ hsl(239, 100%, 63%) 30%,
    /* Blue-Purple */ hsl(262, 65%, 53%) 70%,
    /* Deep Purple */ hsl(327, 50%, 52%) 100% /* Dark Pink */
  );
  filter: drop-shadow(0px 10px 4px #0b0b12);
  &.blue {
    background: linear-gradient(
      to left,
      hsl(211, 27%, 34%) 0%,
      /* Light Blue */ hsl(239, 100%, 63%) 30%,
      /* Blue-Purple */ hsl(262, 65%, 53%) 70%,
      /* Deep Purple */ hsl(327, 50%, 52%) 100% /* Dark Pink */
    );
  }
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2em;
  @media (max-width: 414px) {
    font-size: 1.5em;
  }
  color: white;
  background: linear-gradient(
    to left,
    hsl(220, 16%, 7%) 0%,
    /* Light Blue */ hsl(240, 24%, 15%) 30%,
    /* Blue-Purple */ hsl(282, 25%, 8%) 70%,
    /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
  );
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  &.blue {
    background: linear-gradient(
      to left,
      hsl(220, 16%, 7%) 0%,
      /* Light Blue */ hsl(240, 24%, 15%) 30%,
      /* Blue-Purple */ hsl(282, 25%, 8%) 70%,
      /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
    );
  }
}
.pushable:hover {
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 2px 2px 10px;
  border-radius: 12px;
}
.pushable:hover .front {
  background: linear-gradient(
    to left,
    hsl(210, 8%, 10%) 0%,
    /* Light Blue */ hsl(240, 37%, 27%) 30%,
    /* Blue-Purple */ hsl(284, 37%, 14%) 70%,
    /* Deep Purple */ hsl(300, 20%, 6%) 100% /* Dark Pink */
  );
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

//Day/Night

//Tooltip
.Tooltip {
  font-family: "dpcomic";
  background: rgb(0, 0, 0);
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 1.5em;
  max-width: 400px;
  z-index: 9999999999;
}
