@font-face {
  font-family: "dpcomic";
  src: url("../../public/fonts/dpcomic.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Terminal Grotesque";
  src: url("../../public/fonts/terminal-grotesque.ttf") format("truetype");
  font-style: normal;
}
.cursor {
  display: flex;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "dpcomic";
}

html {
  font-size: 1.4em;
}
@media (max-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 1em;
  }
}

body {
  text-shadow: 0px 2px 2px rgb(0, 0, 0);
  font-weight: 400;
  margin: 0 auto;
  background: linear-gradient(217deg, rgb(25, 1, 1), rgba(22, 11, 11, 0.835) 70.71%), linear-gradient(127deg, rgb(0, 4, 0), rgb(1, 21, 1) 70.71%), linear-gradient(336deg, rgb(0, 0, 12), rgb(0, 0, 17) 70.71%);
  max-width: 100%;
  min-width: 370px;
}

.app-container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: 1440px;
}

#stars-pic {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -999999999;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background: linear-gradient(180deg, rgba(18, 16, 21, 0) 0%, rgb(19, 17, 23) 100%);
}

#particles-video {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1000000000000000000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  -o-object-fit: cover;
     object-fit: cover;
}

#particles-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200%;
  height: 200%;
  -o-object-position: center;
     object-position: center;
}

#code-gif {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -4;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-bar {
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to bottom, hsl(240, 5%, 4%) 0%, hsl(256, 13%, 17%) 8%, hsl(0, 0%, 5%) 92%, hsl(224, 39%, 19%) 100%);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  min-width: 370px;
  height: 80px;
}

.nav-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.day-night-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links inside the navbar */
.nav-bar a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
  background: #ddd;
  color: black;
  text-shadow: none;
  border-radius: 5px;
}

.content-container {
  width: 100%;
  height: 100%;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bg-img {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: 1;
  z-index: -5;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-code {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -3;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  opacity: 0.04;
}

#about-me-link {
  font-family: "dpcomic";
}
@media (max-width: 500px) {
  #about-me-link {
    font-size: 0.8em;
  }
}

.nav-menu {
  z-index: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
  min-width: 370px;
  min-height: 1080px;
  height: 100vh;
  max-width: 100%;
  margin: auto;
}
.nav-menu .nav-menu-container {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
}
.nav-menu li {
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.nav-menu a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.nav-menu .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Terminal Grotesque";
  z-index: 0;
  text-align: left;
  position: relative;
  width: 100%;
}
@media (max-width: 598px) {
  .nav-menu .title-container .name {
    font-size: 1.8em;
  }
}
.nav-menu .title-container h1 {
  font-family: "Terminal Grotesque";
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(217deg, rgba(18, 3, 3, 0.668), rgba(6, 2, 2, 0.709) 70.71%), linear-gradient(127deg, rgb(2, 11, 2), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(9, 9, 29, 0.946), rgba(9, 9, 75, 0) 70.71%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.nav-menu .title-container h1:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(60deg, rgba(255, 225, 0, 0.259), rgba(0, 229, 255, 0.3), rgba(255, 0, 234, 0.312));
  background-size: 300% 300%;
  border-radius: 10px;
  animation: moveGradient 6s ease infinite;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.775);
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-menu .title-container .occupation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
}
.nav-menu .title-container .occupation-container .title {
  font-size: 1.3em;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.613) 2px 4px 0px;
}
.nav-menu .title-container .occupation-container .title.sect1 {
  display: flex;
  align-items: center;
}
.nav-menu .title-container .occupation-container .title.sect1 #cog-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.nav-menu .title-container .occupation-container .title.sect1 #code-pixel-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.nav-menu .title-container .occupation-container .title.sect2 {
  display: flex;
  align-items: center;
}
.nav-menu .title-container .occupation-container .title.sect2 #music-note-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.nav-menu .title-container .occupation-container #front-end {
  color: rgb(132, 248, 31);
  font-family: "dpcomic";
}
.nav-menu .title-container .occupation-container #amper {
  color: rgb(255, 79, 56);
  font-family: "dpcomic";
}
.nav-menu .title-container .occupation-container #artist {
  color: rgb(255, 30, 30);
  font-family: "dpcomic";
}
@media (max-width: 896px) {
  .nav-menu .title-container .occupation-container {
    font-size: 1em;
  }
  .nav-menu .title-container .occupation-container .icon {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .nav-menu .title-container .occupation-container {
    font-size: 0.8em;
  }
}
.nav-menu .nav-selections {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.nav-menu .nav-selections li {
  font-size: 2rem;
}
.nav-menu .nav-selections li:hover {
  color: rgb(244, 236, 117);
  transition: color 0.3s ease;
}
.nav-menu .nav-selections a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.nav-menu .nav-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
}
.nav-menu .nav-container .nav-selections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-menu .nav-container .nav-background {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav-menu h2 {
  display: flex;
  text-align: center;
}

.download-resume-wrapper {
  font-family: "dpcomic";
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  padding: 0;
  height: 200px;
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .download-resume-wrapper {
    font-size: 0.7em;
  }
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.toggle-container {
  position: relative;
  font-size: 0.7em;
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.header .social-svg:hover {
  background-color: rgba(67, 58, 99, 0.437);
  transition: background-color 0.3s ease;
}

.title-divider {
  margin: auto;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 1px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-page-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}

#about-section {
  z-index: 999;
  box-sizing: border-box;
  position: relative;
}

@keyframes mymove {
  50% {
    border-color: rgb(12, 11, 13);
  }
}
#city-pic-overlay {
  z-index: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  left: 0;
  height: 100%;
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
}

#space-pic {
  z-index: -99;
  opacity: 0.1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

#background-pic {
  z-index: 0;
  opacity: 0.5;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about-description-list li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  min-width: 200px; /* Adjust as needed */
  max-width: -moz-min-content;
  max-width: min-content; /* Adjust as needed */
}
.about-description-list .animated-text {
  /* Remove or comment out white-space: nowrap; */
  /* white-space: nowrap; */
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.about-description-list .author {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-top: 20px;
  text-align: right;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 2s;
  animation-delay: 0.5s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  font-style: italic; /* optional styling */
}
.about-description-list .mission-statement {
  margin-top: 100px;
  margin-bottom: 1rem;
  position: relative;
  padding: 20px;
  /* Add max-width or width as needed */
  max-width: 600px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 15px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.about-description-list .highlight-degree,
.about-description-list .highlight-tech,
.about-description-list .highlight-art,
.about-description-list .highlight-degree {
  color: rgb(196, 119, 255);
}
.about-description-list .highlight-tech {
  color: rgb(60, 148, 255);
}
.about-description-list .highlight-art {
  color: rgb(165, 165, 255);
}

.invitation {
  color: rgb(172, 255, 163);
}

.about-page-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
@media (max-width: 800px) {
  .about-page-container {
    width: 100%;
  }
}
.about-page-container h1 {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}
.about-page-container h2 {
  margin-bottom: 5px;
  text-align: center;
}
.about-page-container a {
  padding: 5px;
  font-size: 1em;
  color: rgb(0, 98, 255);
}
.about-page-container a:hover {
  color: rgb(243, 255, 136);
}
.about-page-container .about-me-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about-page-container .about-me-section .about-icons-column {
  display: flex;
  position: relative;
  text-align: center;
  flex: 50%;
  width: 100%;
  height: 200px;
  min-width: 250px;
  max-width: 100%;
  min-height: 210px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text {
  z-index: 5;
  display: flex;
  width: 90%;
  height: 100%;
  position: absolute;
  font-family: "dpcomic";
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 562px) {
  .about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text {
    font-size: 0.7em;
  }
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text span {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  text-align: center;
  margin-bottom: auto;
  bottom: 0;
  z-index: 4;
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text1 {
  color: rgb(100, 216, 255);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text2 {
  color: rgb(250, 83, 83);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text3 {
  color: rgb(175, 57, 180);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #braces {
  color: rgb(75, 190, 244);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #return {
  color: rgb(244, 75, 114);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #dotlog {
  color: rgb(246, 254, 96);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #text4 {
  color: rgb(189, 123, 255);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #pleased {
  color: rgb(190, 255, 111);
}
.about-page-container .about-me-section .about-icons-column .laptop-icon-container #container-text #macbook-img {
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  height: 170px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page-container .about-me-section .rokit-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
}
.about-page-container .rokit-container {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2rem 2rem;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: repeating-conic-gradient(rgba(49, 60, 93, 0.481) 0% 2%, rgba(8, 12, 22, 0.422) 2% 4%), linear-gradient(90deg, rgba(25, 46, 103, 0.81), rgba(129, 129, 248, 0.625) 50%, rgba(63, 84, 241, 0.478) 100%);
  width: 100%;
  max-height: 250px;
  margin: auto;
  margin-top: 30px;
}
.about-page-container .rokit-container-wrapper {
  display: flex;
  flex-direction: column;
}
.about-page-container .rokit-container-wrapper.top {
  flex: 50%;
}
.about-page-container .rokit-container-wrapper.bottom {
  flex: 50%;
  flex-direction: row;
}
.about-page-container .rokit-container img {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  padding: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1024px) {
  .about-page-container .rokit-container img {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 562px) {
  .about-page-container .rokit-container img {
    height: 50px;
    width: 50px;
  }
}
.about-page-container .no-pointer-events {
  pointer-events: none;
}
.about-page-container .language-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  box-sizing: border-box;
  width: 90%;
  padding: 1rem 1rem;
  padding: 50px 10px 50px 10px;
  display: flex;
}
.about-page-container .language-container span {
  padding: 1px;
}
@media (max-width: 562px) {
  .about-page-container .language-container {
    font-size: 0.6em;
    pointer-events: none;
  }
}
.about-page-container .language-container .fed-languages-list {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1.5rem 1.5rem;
  border: 1px solid rgba(158, 156, 199, 0.686);
  background: radial-gradient(circle, rgba(7, 10, 23, 0.523) 0%, rgba(6, 3, 11, 0.76) 98%, rgba(0, 0, 0, 0.875) 100%);
  color: #eee;
  text-shadow: 0 1px 0 #000000;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about-page-container .language-container .fed-languages-list li {
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  flex: 20%;
  overflow: hidden;
}
.about-page-container .language-container .fed-languages-list span {
  font-size: 0.8em;
  text-align: center;
}
.about-page-container .language-container .bed-languages-list {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem 2rem;
  border: 1px solid rgba(158, 156, 199, 0.686);
  background: radial-gradient(circle, rgba(23, 25, 34, 0.523) 0%, rgba(10, 8, 13, 0.349) 98%, rgba(0, 0, 0, 0.875) 100%);
  color: #eee;
  text-shadow: 0 1px 0 #999;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-page-container .language-container .bed-languages-list li {
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  flex: 50%;
  overflow: hidden;
}
.about-page-container .language-container .bed-languages-list span {
  font-size: 0.8em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.about-page-container .font-awesome-icon {
  color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  padding: 10px;
}
@media (max-width: 590px) {
  .about-page-container .font-awesome-icon {
    height: 30px;
    width: 30px;
  }
}

.about-me-section.top {
  width: 100%;
}

.about-me-section.left {
  flex: 50%;
  font-size: 1em;
  text-align: left;
}
.about-me-section.left ul {
  margin: auto;
  margin-bottom: 100px;
  padding: 0px;
  max-width: 1200px;
  width: 90%;
}
.about-me-section.left li {
  max-width: 100%;
  list-style: none;
}
.about-me-section.left .about-description-list #hello-emote-container {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.about-me-section.left .about-description-list .img {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 562px) {
  .about-me-section.left .about-description-list .img {
    height: 70px;
    width: 70px;
  }
}
.about-me-section.left .about-description-list .img.glow {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.0941176471));
}

.about-me-section.right {
  flex: 50%;
}

.about-me-section.left,
.about-me-section.right {
  box-shadow: 0px 0px 7px rgba(29, 59, 78, 0.243);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-me-section-wrapper {
  background: linear-gradient(217deg, rgba(18, 3, 3, 0.668), rgba(6, 2, 2, 0.709) 70.71%), linear-gradient(127deg, rgb(2, 11, 2), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(24, 24, 132, 0.946), rgba(9, 9, 75, 0) 70.71%);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  width: 100%;
  max-width: 1920px;
  align-items: start; /* Align the content to the start of each cell */
}
@media (max-width: 1280px) {
  .about-me-section-wrapper {
    /* When the viewport width is 1200px or less */
    grid-template-columns: 1fr; /* Change to one column */
  }
}

.modal-container {
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.911);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-container .dialog-box {
  display: flex;
  flex-direction: column;
  z-index: 1001;
  background: linear-gradient(180deg, rgb(18, 21, 26) 0%, rgba(16, 16, 24, 0.967) 100%);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.321);
  width: 80vw;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  min-width: 200px;
  max-width: 1000px;
  padding: 1em;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: none;
  position: absolute;
}
@media (max-width: 600px) {
  .modal-container .dialog-box {
    width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
    max-height: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .modal-container .dialog-box {
    max-height: 500px;
    width: 95vw;
    height: -moz-max-content;
    height: max-content;
    font-size: 0.75em;
  }
}
.modal-container .dialog-box .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  z-index: 9999;
}
.modal-container .dialog-box .close-button:hover {
  color: rgb(78, 229, 131);
}
.modal-container .dialog-box .content {
  overflow: auto;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 688px) {
  .modal-container .dialog-box .content {
    flex-direction: row;
  }
  .modal-container .dialog-box .content .image-container {
    order: -1; /* Move the image-container to the top */
    width: 100%;
    padding-bottom: 20px;
  }
  .modal-container .dialog-box .content .image-container .image {
    width: 100%; /* Adjust image width */
    max-height: none; /* Remove max height restriction */
    height: auto; /* Adjust height automatically */
  }
}
.modal-container .dialog-box .content .image-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: black;
  flex: 50%;
  padding: 20px;
  min-width: 200px;
}
.modal-container .dialog-box .content .image-container .image {
  box-sizing: border-box;
  display: inherit;
  margin: auto;
  padding: 0px;
  height: 80%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
}
.modal-container .dialog-box .content .image-container .image.bstock {
  -o-object-position: top left;
     object-position: top left;
}
@media (max-width: 768px) {
  .modal-container .dialog-box .content .image-container .image {
    max-height: 200px;
    max-width: 200px;
    margin-top: 50px;
  }
}
.modal-container .dialog-box .content .description-container {
  box-sizing: border-box;
  padding: 0;
  color: rgb(239, 240, 255);
  flex: 50%;
  width: 100%;
}
@media (max-width: 768px) {
  .modal-container .dialog-box .content .description-container {
    margin-bottom: 100px;
  }
}
.modal-container .dialog-box .content .description-container h1 {
  font-family: "Terminal Grotesque";
  font-size: 1.2em;
  text-align: center;
  padding: 3px;
  color: rgb(254, 254, 254);
  text-shadow: 0px 8px 4px rgba(2, 2, 2, 0.459);
}
.modal-container .dialog-box .content .description-container .stack-container {
  box-sizing: border-box;
  font-size: 1.3em;
  display: flex;
  text-align: left;
  flex-direction: column;
}
.modal-container .dialog-box .content .description-container .stack-container .title {
  text-align: center;
  color: rgb(204, 205, 255);
  padding: 10px 20px 5px 20px;
}
.modal-container .dialog-box .content .description-container .stack-container .stack {
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  display: flex;
  margin: auto;
  color: rgb(255, 255, 255);
}
.modal-container .dialog-box .content .description-container .stack-container .stack .icon {
  padding: 4px;
}
@media (max-width: 590px) {
  .modal-container .dialog-box .content .description-container .stack-container .stack .icon {
    width: 20px;
    height: 20px;
  }
}
.modal-container .dialog-box .content .description-container .stack-container .stack .fed {
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  background-color: #5a6ad3;
}
.modal-container .dialog-box .content .description-container .stack-container .stack .bed {
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.13);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 8px;
  background-color: rgb(81, 65, 205);
}
.modal-container .dialog-box .content .description-container .stack-container .hover-icon-box {
  width: 90%;
  height: 20px;
  margin: auto;
}
.modal-container .dialog-box .content .description-container .stack-container .hover-icon-box .icon-text {
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  background-color: rgb(9, 8, 12);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.modal-container .dialog-box .content .description-container .stack-container .hover-icon-box:hover .icon-text {
  opacity: 1;
}
.modal-container .dialog-box .content .description-container p {
  font-size: 0.9em;
  text-align: left;
  padding: 10px 30px 30px 30px;
  line-height: 1.8em;
}
.modal-container .dialog-box .content .description-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightblue;
}

.icon-container {
  width: 200px;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 100px;
  height: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.icon-container span {
  padding: 0;
  width: 100%;
  text-align: center;
  align-items: center;
}
@media (max-width: 660px) {
  .icon-container {
    width: 100px;
  }
}

.icon-container .icon {
  font-size: 1.4em;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover .icon-container {
  transition: filter 250ms, box-shadow 250ms; /* Add box-shadow transition */
  background: linear-gradient(217deg, rgba(18, 3, 3, 0.298), rgba(6, 2, 2, 0.4) 70.71%), linear-gradient(127deg, rgb(4, 8, 4), rgba(13, 45, 13, 0.073) 70.71%), linear-gradient(336deg, rgba(6, 6, 24, 0.518), rgba(6, 6, 23, 0.252) 70.71%);
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 0px 0px 8px, rgba(255, 255, 255, 0.139) 0px 0px 5px; /* Expanded shadow */
}

.end-navigation-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  height: 70px;
  width: 100%;
}

.end-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 100px;
  text-decoration: none;
  border-radius: 100px;
  min-height: 60px;
  flex-direction: column;
  font-family: "dpcomic";
  position: relative;
  border: none;
  background: transparent;
  transition: filter 250ms;
  transition: filter 250ms, box-shadow 250ms; /* Add box-shadow transition */
}
.end-navigation-link span {
  padding: 0;
  text-align: center;
  align-items: center;
}
@media (max-width: 660px) {
  .end-navigation-link {
    margin: auto;
  }
}

.end-navigation {
  color: white;
  box-sizing: border-box;
  padding: 15px;
}

.end-navigation .icon {
  font-size: 1.4em;
  margin-right: 5px;
}

.end-navigation-link:hover {
  background: linear-gradient(217deg, rgba(18, 3, 3, 0.298), rgba(6, 2, 2, 0.709) 70.71%), linear-gradient(127deg, rgb(4, 8, 4), rgba(13, 45, 13, 0.073) 70.71%), linear-gradient(336deg, rgba(6, 6, 24, 0.946), rgba(6, 6, 23, 0.252) 70.71%);
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 0px 0px 8px, rgba(255, 255, 255, 0.587) 0px 0px 8px; /* Expanded shadow */
}

.header-title {
  position: relative;
  z-index: 1;
  height: 180px;
  background: black;
  background-repeat: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-shadow: rgba(255, 204, 0, 0.098) 1px 0 10px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.header-title:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/images/moon_texture.webp");
  opacity: 0.1;
  z-index: -2;
}
.header-title .content-container {
  max-width: 900px;
  min-width: 140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
}
.header-title .content-container.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title .content-container.navigation .icon {
  height: 40px;
  width: 40px;
  color: white;
}
.header-title span {
  margin-top: 10px;
}
.header-title .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-title .container .title {
  margin-bottom: auto;
  text-align: center;
}

.header-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.disclaimer {
  box-sizing: border-box;
  font-size: 0.9em;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #bcecfb;
  text-align: center;
}
.disclaimer a {
  text-decoration: underline;
  color: rgb(105, 255, 18);
}

.disclaimer-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-contact {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
}

#skills-contact-p {
  /* Linear gradient stripes here */
  box-sizing: border-box;
  padding: 30px;
  background-image: repeating-linear-gradient(90deg, #3a465f, #22375f 2px, #17191d 5px, #172132 10px), repeating-linear-gradient(90deg, #3a465f, #22375f 2px, #17191d 5px, #172132 10px);
  background-size: 100% 2px, 100% 2px;
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mywork-page-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  min-height: 100%;
  margin: auto;
  color: rgb(255, 255, 255);
}
.mywork-page-container h1 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: auto;
}
.mywork-page-container h3 {
  padding: 0;
  font-size: 0.5em;
  text-align: center;
}
.mywork-page-container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2em;
}
.mywork-page-container .row {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
}
@media (max-width: 1000px) {
  .mywork-page-container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .mywork-page-container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mywork-page-container .project-thumbnail {
  position: relative;
}
.mywork-page-container .project-thumbnail .middle {
  position: relative;
}
.mywork-page-container .project-thumbnail .middle:hover .view-text-container {
  opacity: 1;
}
.mywork-page-container .project-thumbnail .view-text-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.mywork-page-container .project-thumbnail .cursor-text {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}
.mywork-page-container .project-column {
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  max-width: 500px;
  height: 300px;
  max-height: 95%;
  margin: auto;
  position: relative;
  border: 1px solid rgb(18, 28, 57);
}
@media (max-width: 660px) {
  .mywork-page-container .project-column {
    height: 200px;
  }
}
.mywork-page-container .project-column .clickToViewBtn {
  font-family: "dpcomic";
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  padding: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(rgba(230, 100, 100, 0), #06060f);
  border-radius: 20px;
}
@media (max-width: 600px) {
  .mywork-page-container .project-column .clickToViewBtn {
    font-size: 0.7em;
  }
}
.mywork-page-container .project-column:hover .pushable {
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 2px 2px 10px;
  border-radius: 12px;
}
.mywork-page-container .project-column:hover .pushable .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  background: linear-gradient(to left, hsl(210, 8%, 10%) 0%, hsl(240, 37%, 27%) 30%, hsl(284, 37%, 14%) 70%, hsl(300, 20%, 6%) 100%);
}
.mywork-page-container .project-column:hover .pushable .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.mywork-page-container .container .image {
  border-radius: 20px;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  width: 100%;
  transition: 0.1s ease;
  backface-visibility: hidden;
}
.mywork-page-container .middle {
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 5;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  position: relative;
  text-align: center;
}
.mywork-page-container .middle:hover {
  box-shadow: 0px 0px 0px 5px rgba(65, 249, 71, 0.861);
}
.mywork-page-container .middle:hover #project-img {
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  border-radius: 20px;
}
.mywork-page-container .middle .project-content {
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 4;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: rgba(55, 62, 71, 0.427);
  color: rgb(255, 255, 255);
  font-size: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
}
.mywork-page-container .middle .project-content p {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  background: linear-gradient(to left, hsl(0, 35%, 7%) 0%, hsl(240, 22%, 10%) 30%, hsl(300, 17%, 2%) 70%, hsl(0, 3%, 8%) 100%);
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px rgb(58, 55, 55);
  height: 100px;
  min-height: 100px;
}
@media (max-width: 660px) {
  .mywork-page-container .middle .project-content p {
    padding: 10px;
    font-size: 0.8em;
  }
}
.mywork-page-container .middle .project-content span {
  box-sizing: border-box;
  font-size: 1.9em;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 10px;
}
@media (max-width: 660px) {
  .mywork-page-container .middle .project-content span {
    font-size: 2em;
    padding: 10px;
  }
}
.mywork-page-container #portfolio-container {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  padding: 3px;
  max-width: 1920px;
}

.portfolio {
  margin-bottom: auto;
  margin-top: auto;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  min-height: 100vh;
}

.contact-page-container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}
.contact-page-container .contact-section {
  height: 100%;
  width: 100%;
  z-index: 2;
}
.contact-page-container .header-container {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-page-container .header-container .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.contact-page-container .emoji {
  margin: 5px;
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-page-container a {
  color: rgb(0, 98, 255);
}
.contact-page-container a:hover {
  color: rgb(243, 255, 136);
}
.contact-page-container .error {
  font-size: 0.8em;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(255, 81, 81);
}
@media (max-width: 500px) {
  .contact-page-container .error {
    max-width: 300px;
  }
}
.contact-page-container .success {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  color: rgb(81, 255, 130);
}
.contact-page-container .contact-form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
@media (max-width: 480px) {
  .contact-page-container .contact-form {
    flex-direction: column;
  }
}
.contact-page-container .contact-form .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 500px;
  width: 100%;
  order: 1;
  flex: 50%;
}
@media (max-width: 518px) {
  .contact-page-container .contact-form .form-container {
    order: 2; /* default order */
  }
}
.contact-page-container .contact-form .form-container .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}
.contact-page-container .contact-form .form-container .input-group input {
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 80%;
  margin: 20px 0 20px 0;
  background-color: rgb(37, 39, 45);
  color: rgb(255, 255, 255);
}
.contact-page-container .contact-form .form-container .input-group input:focus {
  outline: none !important;
  border: 1px solid rgb(0, 191, 255);
  box-shadow: 0 0 5px #719ece;
}
.contact-page-container .contact-form .form-container .input-group textarea {
  border-radius: 2px;
  resize: none;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 300px;
  width: 80%;
  margin: 20px 0 20px 0;
  background-color: rgb(37, 39, 45);
  color: rgb(255, 255, 255);
}
.contact-page-container .contact-form .form-container .input-group textarea:focus {
  outline: none !important;
  border: 1px solid rgb(0, 191, 255);
  box-shadow: 0 0 5px #719ece;
}
.contact-page-container .contact-form .form-container .submit-button {
  font-size: 1em;
  background-color: #407ceb;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 4px;
}
.contact-page-container .contact-form .form-container .submit-button:hover {
  background-color: #4584fb;
}
.contact-page-container .contact-form .image-container {
  line-height: 2em;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  order: -1;
  flex: 40%;
}
@media (max-width: 596px) {
  .contact-page-container .contact-form .image-container {
    order: 1;
  }
}
.contact-page-container .contact-form .image-container .image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 100px;
  color: #ffffff;
}
.contact-page-container .contact-form .image-container .image #gmail-pic {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: auto;
}
.contact-page-container .contact-form .image-container .description {
  padding: 50px;
  background: repeating-linear-gradient(-45deg, hsla(200, 14%, 4%, 0.723), hsl(240, 12%, 8%) 10px, hsla(228, 8%, 12%, 0.481) 10px, hsla(338, 20%, 8%, 0.394) 20px), linear-gradient(90deg, rgba(22, 29, 33, 0.481), rgba(15, 16, 21, 0.853) 50%, rgba(14, 14, 22, 0.478) 100%);
  border: solid 2px rgba(209, 209, 217, 0.831372549);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Terminal Grotesque";
}
.contact-page-container .contact-form .image-container .description span {
  display: block;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.contact-page-container h1 {
  font-size: 1.2em;
  margin-bottom: auto;
  text-align: center;
}
.contact-page-container .title {
  text-align: center;
}

.mountain-pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
  opacity: 0.1;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.604);
  font-size: 0.8em;
}
.footer span {
  color: white;
}

.pushable {
  font-family: "dpcomic";
  font-size: 0.6em;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline-offset: 4px;
  transition: filter 250ms;
}
.pushable.contact {
  margin: 20px;
}

.pushable.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, hsl(211, 27%, 34%) 0%, hsl(239, 100%, 63%) 30%, hsl(262, 65%, 53%) 70%, hsl(327, 50%, 52%) 100%);
  filter: drop-shadow(0px 10px 4px #0b0b12);
}
.edge.blue {
  background: linear-gradient(to left, hsl(211, 27%, 34%) 0%, hsl(239, 100%, 63%) 30%, hsl(262, 65%, 53%) 70%, hsl(327, 50%, 52%) 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2em;
  color: white;
  background: linear-gradient(to left, hsl(220, 16%, 7%) 0%, hsl(240, 24%, 15%) 30%, hsl(282, 25%, 8%) 70%, hsl(300, 20%, 6%) 100%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
@media (max-width: 414px) {
  .front {
    font-size: 1.5em;
  }
}
.front.blue {
  background: linear-gradient(to left, hsl(220, 16%, 7%) 0%, hsl(240, 24%, 15%) 30%, hsl(282, 25%, 8%) 70%, hsl(300, 20%, 6%) 100%);
}

.pushable:hover {
  filter: brightness(110%);
  box-shadow: rgba(255, 255, 255, 0.174) 2px 2px 10px;
  border-radius: 12px;
}

.pushable:hover .front {
  background: linear-gradient(to left, hsl(210, 8%, 10%) 0%, hsl(240, 37%, 27%) 30%, hsl(284, 37%, 14%) 70%, hsl(300, 20%, 6%) 100%);
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.Tooltip {
  font-family: "dpcomic";
  background: rgba(0, 0, 0, 0.85);
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 0.8em;
  max-width: 400px;
  z-index: 9999999999;
}/*# sourceMappingURL=styles.css.map */